body {
    /* font-family: 'Arial', sans-serif; */
    font-family: 'FranklinGothicBookITC', sans-serif;
    font-size: 16px; /* Базовый размер шрифта */
    font-weight: 400;
    color: #000000; /* Основной цвет текста */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000000;
    /* line-height: 1.4;
    margin-bottom: 1rem; */
}

h1 {
    font-size: 53px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    /* margin-bottom: 1.5rem; */
    color: #000000;
    font-size: 21px;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: black;
}

/* Утилиты (управление текстом) */

.kc-text-color-remove a {
    color: #000 !important;
    text-decoration: none !important; /* Убирает подчеркивание */
}

/* Выравнивание */
.kc-text-wrapper{
    margin: 0 !important;
    padding: 0 !important;
    
    line-height: 100%;
    /* word-wrap: break-word;
    overflow-wrap: break-word;  */
}

.kc-text-left {
    text-align: left;
}

.kc-text-center {
    text-align: center;
}

.kc-text-right {
    text-align: right;
}

.kc-text-justify {
    text-align: justify;
}

/* Размеры*/
.kc-text-small {
    font-size: 17px;
}

.kc-text-regular {
    font-size: 21px !important;
}

.kc-text-large {
    font-size: 33px !important;
    font-style: normal !important;
}

.kc-text-xlarge {
    font-size: 53px;
    font-style: normal;
}

/* Толщина*/
.kc-text-light {
    color: #888;
    font-weight: 400;
}

.kc-text-normal {
    font-weight: 400 !important;
}

.kc-text-bold {
    font-weight: 700;
}

@media (max-width: 768px) {
    .kc-text-small {
        font-size: 10px !important;
    }
    
    .kc-text-regular {
        font-size: 15px !important;
    }
    
    .kc-text-large {
        font-size: 20px !important;
    }
    .kc-text-xlarge {
        font-size: 24px !important;
    }

    .kc-line-height-big {
        line-height: 120% !important;
    }
}

/* Цвет*/
.kc-text-muted {
    color: #888;
}

.kc-text-primary {
    color: #bea8a8;
}

.kc-text-secondary {
    color: #6c757d;
}

.kc-text-info {
    color: #1E8DD3;
}

/* Заглавные буквы */
.kc-text-uppercase {
    text-transform: uppercase !important;
}

.kc-text-lowercase {
    text-transform: lowercase !important;
}

.kc-text-capitalize {
    text-transform: capitalize !important;
}

/* Межстрочный интервал */
.kc-line-height-big {
    line-height: 110% !important;
}

.kc-line-height-full {
    line-height: 100% !important;
}

.kc-text-font-GothicMedium{
    /* font-family: FranklinGothicMediumITC !important; */
    font-weight: 600 !important;
}



/*
    ============================================================================
    ======================== ипользование ======================================
    ============================================================================
*/

/*

 - Подключение в шаблон:
<link rel="stylesheet" href="{% static 'css/typography.css' %}">