{% if is_mobile %}

    <div class="artworks-grid-1">
        <div class="artwork-column">
            {% for artwork in artworks %}
                {% if not forloop.counter|divisibleby:2 %}

                    {% include "items/artwork_item.html" with artwork=artwork %}

                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="artworks-grid-2">
        <div class="artwork-column">
            {% for artwork in artworks %}
                {% if forloop.counter|divisibleby:2 %}

                    {% include "items/artwork_item.html" with artwork=artwork %}
                
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% else %}

    <div class="artworks-grid-1">
        <div class="artwork-column">
            {% for artwork in artworks %}
                {% comment %} {% if forloop.counter|divisibleby:3 %} {% endcomment %}
                {% if not forloop.counter|divisibleby:3 and not forloop.counter|divisibleby:2 %}
                    
                    {% include "items/artwork_item.html" with artwork=artwork %}

                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="artworks-grid-2">
        <div class="artwork-column">
            {% for artwork in artworks %}
                {% comment %} {% if not forloop.counter|divisibleby:3 and not forloop.counter|divisibleby:2 %} {% endcomment %}
                {% if not forloop.counter|divisibleby:3 and forloop.counter|divisibleby:2 %}
    
                {% include "items/artwork_item.html" with artwork=artwork %}

                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="artworks-grid-3">
        <div class="artwork-column">
            {% for artwork in artworks %}
                {% comment %} {% if not forloop.counter|divisibleby:3 and forloop.counter|divisibleby:2 %} {% endcomment %}
                {% if forloop.counter|divisibleby:3 %}
    
                {% include "items/artwork_item.html" with artwork=artwork %}

                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
