{% load i18n %}

<a href="{% url 'routes' %}" class="td-collection-menu-container kc-wrapper-container-full-full">
    <div class="td-collection-menu-item-main kc-text-33-24">{% trans "msg.bottomNavigator.routesButton" %}</div> 
    <div class="td-collection-menu-item-small kc-text-33-15">{% trans "msg.bottomNavigator.routesText" %}</div>
</a>

<a href="{% url 'collection_a_z' %}" class="td-collection-menu-container kc-wrapper-container-full-full">
    <div class="td-collection-menu-item-main kc-text-33-24">{% trans "msg.bottomNavigator.artistListButton" %}</div> 
    <div class="td-collection-menu-item-small kc-text-33-15">{% trans "msg.bottomNavigator.artistListText" %}</div>
</a>

<a href="{% url 'collection_by_years' %}" class="td-collection-menu-container kc-wrapper-container-full-full">
    <div class="td-collection-menu-item-main kc-text-33-24">{% trans "msg.bottomNavigator.yearsButton" %}</div> 
    <div class="td-collection-menu-item-small kc-text-33-15">{% trans "msg.bottomNavigator.yearsText" %}</div>
</a>

<a href="{% url 'home_anton' %}" class="td-collection-menu-container kc-wrapper-container-full-full">
    <div class="td-collection-menu-item-main kc-text-33-24">{% trans "msg.bottomNavigator.videoButton" %}{% include "items/video_icon.html" %}</div> 
    <div class="td-collection-menu-item-small kc-text-33-15">{% trans "msg.bottomNavigator.videoText" %}</div>
</a>

{% if is_mobile %}
    <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>
{% endif %}