<div class="kc-wrapper-container-full-full kc-container-grid cooperation-item">



    {% if is_mobile %}

        <div class="kc-text-53-15 kc-text-uppercase kc-wrapper-container-span2 ">
            {{ data.title|safe }}
        </div>

        {% if data.image %}
            <div class="kc-wrapper-container-span2 cooperation-item-image-content">
                <img src="{{ data.image.url }}" alt="Flow Event Image" class="cooperation-item-image">
            </div>
        {% endif %}

        <div class="kc-wrapper-container-span4 kc-text-uppercase kc-text-21-15">
            {{ data.description|safe }}
        </div>

        <div class="kc-wrapper-container-span4 kc-text-uppercase kc-text-21-15 kc-text-primary">
            {{ data.email|safe }}
        </div>
    
    {% else %}

        {% if data.image %}
            <div class="cooperation-item-image-content kc-wrapper-container-span4">
                <img src="{{ data.image.url }}" alt="Flow Event Image" class="cooperation-item-image">
            </div>
        {% endif %}

        <div class="cooperation-item-text-content kc-wrapper-container-span9-from6">

            <div class="cooperation-item-text-name kc-text-53-15 kc-text-uppercase kc-wrapper-container-span9-from6 ">
                {{ data.title|safe }}
            </div>

            <div class="cooperation-item-text-description kc-text-uppercase kc-text-21-15">
                {{ data.description|safe }}
            </div>

            <div class="cooperation-item-text-link kc-text-uppercase kc-text-21-15 kc-text-primary">
                {{ data.email|safe }}
            </div>

        </div>

    {% endif %}


    
</div>