<a href="{% url 'exhibition' data.id %}" class="kc-wrapper-container-full-full kc-container-grid exhibition-item">

    {% if is_mobile %}

        {% if data.image %}

            <div class="exhibition-item-image-content">
                <img src="{{ data.image.url }}" alt="Flow Event Image" class="exhibition-item-image">
            </div>

        {% endif %}

        <div class="exhibition-item-text-content">

            <div class="exhibition-item-text-name kc-text-53-15 kc-text-uppercase">
                {{ data.title|safe }}
            </div>

            <div class="exhibition-item-text-description kc-wrapper-container-span4-from8 kc-text-uppercase kc-text-21-15 kc-text-primary">
                {{ data.start_date|safe }} - {{ data.end_date|safe }} <br>
                {{ data.location|safe }}
            </div>

        </div>
    
    {% else %}

        {% if data.image %}

            <div class="exhibition-item-image-content kc-wrapper-container-span7">
                <img src="{{ data.image.url }}" alt="Flow Event Image" class="exhibition-item-image">
            </div>

        {% endif %}

            <div class="exhibition-item-text-content kc-wrapper-container-span7">

                <div class="exhibition-item-text-name kc-text-53-15 kc-text-uppercase kc-wrapper-container-span9-from6 ">
                    {{ data.title|safe }}
                </div>

                <div class="exhibition-item-text-description kc-wrapper-container-span4-from8 kc-text-uppercase kc-text-21-15 kc-text-primary">
                    {{ data.start_date|safe }} - {{ data.end_date|safe }} <br>
                    {{ data.location|safe }}
                </div>

            </div>

            <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>

        {% if not is_last %}

            <div class="kc-separator kc-wrapper-container-full-full"></div>

        {% endif %}

    {% endif %}
    
</a>