{% load static %}
{% load i18n %}

{% if is_mobile %}

<footer class="kc-footer kc-spacing-padding-main">
    <div class="kc-margin-top-100-40"> </div>
    <div class="kc-footer-container">
        <a class="kc-footer-logo" href="{% url 'main' %}">
            <img src="{% static 'common/assets/logo-with-text.svg' %}" alt="{% trans 'msg.footer.logoAlt' %}">
        </a>
        <div class="kc-footer-info">
            <div>{% trans 'msg.footer.orgInfo' %}</div>
            <div>{% trans 'msg.footer.contactEmail' %}</div>
            <div><strong style="color: #1E8DD3 !important;">{% trans 'msg.footer.telegram' %}</strong> / <strong style="color: #1E8DD3 !important;">{% trans 'msg.footer.youtube' %}</strong> / <strong style="color: #1E8DD3 !important;">{% trans 'msg.footer.vk' %}</strong> / <strong style="color: #1E8DD3 !important;">{% trans 'msg.footer.inst' %}</strong></div>
            <div>{% trans 'msg.footer.privacyPolicy' %}</div>
        </div>
    </div>
    <div class="kc-spacer-main"> </div>
</footer>

{% else %}

<footer class="kc-footer kc-spacing-padding-main">

    <div class="kc-footer-content">
        <div class="kc-footer-container">
            <a class="kc-footer-logo" href="{% url 'main' %}">
                <img src="{% static 'common/assets/logo-with-text.svg' %}" alt="{% trans 'msg.footer.logoAlt' %}">
            </a>
            <div class="kc-footer-info">
                <div>{% trans 'msg.footer.orgInfo' %}</div>
                <div>{% trans 'msg.footer.contactEmail' %}</div>
                <div><strong>{% trans 'msg.footer.telegram' %}</strong> / <strong>{% trans 'msg.footer.youtube' %}</strong> / <strong>{% trans 'msg.footer.vk' %}</strong> / <strong>{% trans 'msg.footer.inst' %}</strong></div>
                <div>{% trans 'msg.footer.privacyPolicy' %}</div>
            </div>
        </div>
    </div>


</footer>

{% endif %}
