{% load static %}
{% load i18n %}
{% if is_mobile %}

<header class="kc-header kc-header-padding-mobile" id="menuToggle">
    <div class="kc-header-container">

        <div class="kc-header-logo-container">
            <div class="kc-header-logo">
                <img src="{% static 'common/assets/logo.svg' %}" alt="Logo" class="kc-logo">
            </div>
            <a href="{% url 'main' %}" class="kc-header-text">{% trans "msg.header.title" %}</a>
        </div>

        <div class="kc-header-button-mobile">
            <img src="{% static 'common/assets/header-button-mobile.svg' %}" alt="Logo" class="kc-header-button-logo">
        </div>
    </div>
    <div class="kc-separator-header"></div>
</header>

{% else %}

<header class="kc-header kc-spacing-padding-main">
    <div class="kc-header-container">
        <div class="kc-header-menu">
            <button class="kc-header-menu-button animation-hover-zoom-rotate" id="menuToggle">
                <img src="{% static 'common/assets/menu-icon-desktop.svg' %}" alt="Menu" class="kc-header-menu-image">
            </button>
        </div>

        <div class="kc-logo-decor-left">
            <img src="{% static 'common/assets/header-decor-right.svg' %}" alt="Decor Left">
        </div>

        <a href="{% url 'main' %}" class="kc-header-logo-container">
            <div class="kc-header-logo animation-hover-zoom">
                <img src="{% static 'common/assets/logo.svg' %}" alt="Logo" class="kc-logo">
                <div class="kc-header-text">{% trans "msg.header.title" %}</div>
            </div>
        </a>

        <div class="kc-logo-decor-right">
            <img src="{% static 'common/assets/header-decor-left.svg' %}" alt="Decor Right">
        </div>

        <div class="kc-header-lang">
            <a href="#" class="kc-lang animation-hover-zoom-rotate {% if request.LANGUAGE_CODE == 'ru' %}active{% endif %}" onclick="changeLanguage('ru')">
                РУС
            </a>
            <a href="#" class="kc-lang animation-hover-zoom-rotate {% if request.LANGUAGE_CODE == 'en' %}active{% endif %}" onclick="changeLanguage('en')">
                ENG
            </a>
        </div>
        
        <form id="languageForm" action="{% url 'set_language' %}" method="post" style="display: none;">
            {% csrf_token %}
            <input type="hidden" name="language" id="languageInput">
        </form>
        
        <script>
            function changeLanguage(lang) {
                document.getElementById('languageInput').value = lang;
                document.getElementById('languageForm').submit();
            }
        </script>
        
    </div>
</header>
<div class="kc-separator-header"></div>


{% endif %}