{% load static %}

<div class="route-image-slider kc-wrapper-container-full-full">
    <div class="slider-main">
        {% for item in images %}
            <div class="slide {% if forloop.first %}active{% endif %}">
                <img src="{{ item.image.url }}" alt="Slide {{ forloop.counter }}" class="slide-img"
                onclick="openModal
                (
                    [{% for p in images %}'{{ p.image.url }}'{% if not forloop.last %}, {% endif %}{% endfor %}], 
                    0
                )"
                >
            </div>
        {% endfor %}
    </div>
    <div class="image-slider-content">
        <div class="slider-thumbnails">
            {% for item in images %}
            <img
                src="{{ item.image.url }}"
                class="thumbnail {% if forloop.first %}active{% endif %}" 
                data-index="{{ forloop.counter0 }}"
            >
            {% endfor %}
        </div>
    </div>
    {% if images|length > 1 %}
        <div class="slider-nav">
            <img src="{% static 'common/assets/left-arrow.svg' %}" alt="Prev" class="prev">
            <img src="{% static 'common/assets/right-arrow.svg' %}" alt="Next" class="next">
        </div>
    {% endif %}
</div>

<script src="{% static 'common/js/image-slider-wide.js' %}"></script>
