{% load static %}

<div id="imageModal" class="kc-image-modal kc-wrapper-container-full-full kc-color-background-wide hidden">
    
    <span class="image-modal-close" onclick="closeModal()">
        <img src="{% static 'common/assets/image-modal-close.svg' %}" alt="Назад" class="image-modal-image">
    </span>
    

    <div class="kc-image-main">
        <span class="image-modal-prev" onclick="changeImage(-1)">
            <img src="{% static 'common/assets/image-modal-left.svg' %}" alt="Назад" class="image-modal-image">
        </span>
        <img class="modal-content" id="modalImage">
        <span class="image-modal-next" onclick="changeImage(1)">
            <img src="{% static 'common/assets/image-modal-right.svg' %}" alt="Вперед" class="image-modal-image">
        </span>
    </div>

</div>

<script src="{% static 'common/js/image-modal.js' %}"></script>

{% comment %} <script>
    var currentIndex = 0;
    var images = [];

    function openModal(newImages, index) {
        images = newImages;
        currentIndex = index;
    
        const modal = document.getElementById("imageModal");
        const modalImg = document.getElementById("modalImage");

        modal.classList.remove("hidden");
        document.body.classList.add("no-scroll");

        modalImg.src = images[currentIndex];
        modalImg.classList.remove("fullscreen");
    }

    function closeModal() {
        const modal = document.getElementById("imageModal");
        const modalImg = document.getElementById("modalImage");

        modal.classList.add("hidden");
        document.body.classList.remove("no-scroll");

        exitFullscreen();
        modalImg.classList.remove("fullscreen");
    }

    function changeImage(direction) {
        const modalImg = document.getElementById("modalImage");

        currentIndex += direction;

        if (currentIndex < 0) {
            currentIndex = images.length - 1;
        } else if (currentIndex >= images.length) {
            currentIndex = 0;
        }

        modalImg.src = images[currentIndex];
        exitFullscreen();
        modalImg.classList.remove("fullscreen");
    }

    // Полноэкранный режим при клике
    document.addEventListener("DOMContentLoaded", function () {
        const modalImg = document.getElementById("modalImage");

        modalImg.addEventListener("click", function () {
            if (!document.fullscreenElement) {
                enterFullscreen(modalImg);
                modalImg.classList.add("fullscreen");
            } else {
                exitFullscreen();
                modalImg.classList.remove("fullscreen");
            }
        });
    });

    function enterFullscreen(element) {
        if (element.requestFullscreen) {
            element.requestFullscreen();
        } else if (element.webkitRequestFullscreen) { // Safari
            element.webkitRequestFullscreen();
        } else if (element.msRequestFullscreen) { // IE11
            element.msRequestFullscreen();
        }
    }

    function exitFullscreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.webkitExitFullscreen) { // Safari
            document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) { // IE11
            document.msExitFullscreen();
        }
    }
</script> {% endcomment %}
