<div class="kc-navigator kc-wrapper-container-full-full">
    <a href="{% url 'routes' %}" class="kc-navigator-item kc-text-33-15 kc-text-capitalize">М.1 — М.10</a>
    <a href="{% url 'collection_a_z' %}" class="kc-navigator-item kc-text-33-15 kc-text-capitalize">А — Я</a>
    <a href="{% url 'collection_by_years' %}" class="kc-navigator-item kc-text-33-15 kc-text-capitalize ">1957 — 2057</a>
    <a href="{% url 'home_anton' %}" class="kc-navigator-item kc-text-33-15 kc-text-capitalize kc-utils-hide-on-mobile">видео</a>
</div>
<div class="kc-separator-wide kc-wrapper-container-full-full kc-utils-hide-on-mobile"></div>