{% if is_mobile %}

<div class="video-cut kc-wrapper-container-full-full">
    <div class="video-cut-item">
        <img src="{{ main_image.url }}" alt="{{ artwork.title }}" class="video-cut-image">
    </div>
    <div class="video-cut-label-link kc-text-27-15 kc-text-white kc-text-uppercase">
        Youtube канал пока все дома у Антона
    </div>
    <div class="video-cut-label-name kc-text-27-15 kc-text-white kc-text-uppercase">
        {{ name }}
    </div>
</div>

{% else %}

<div class="video-cut kc-wrapper-container-full-full">
    <div class="video-cut-items-content-pdf">
        <spacer style="min-width: 30px;"></spacer>


        {% for item in previews %}
            <div class="video-cut-item-pdf">
                <img src="{{ item.image.url }}" alt="{{ artwork.title }}" class="video-cut-image">
            </div>
        {% endfor %}
    </div>
    <div class="video-cut-text-content">
        <div class="video-cut-label-name kc-text-27-15 kc-text-white kc-text-uppercase">
                Каталог выставки
        </div>
        <a href="{{ pdf_file.url }}" target="_blank" class="video-cut-label-link kc-text-27-15 kc-text-white kc-text-uppercase">
            Полный каталог выставки
        </a>
    </div>
</div>

{% endif %}

{% include 'items/images_modal.html' with images=previews %}