{% load i18n %}

{% if is_mobile %}

    <div class="pdf-cut kc-wrapper-container-full-full">
        <div class="pdf-cut-item">
            <img src="{{ main_image.url }}" alt="{{ artwork.title }}" class="video-cut-image">
        </div>
        <div class="video-cut-label-link kc-text-27-15 kc-text-white kc-text-uppercase">
            {% trans "msg.pdf_cut.youtube" %}
        </div>
        <div class="video-cut-label-name kc-text-27-15 kc-text-white kc-text-uppercase">
            {{ name }}
        </div>
    </div>

{% else %}

    <div class="pdf-cut kc-wrapper-container-full-full" style="margin-top: 100px;"> 
        <div class="video-cut-items-content-pdf">
            <spacer style="min-width: 30px;"></spacer>
        
            {% for item in previews %}
                <div class="pdf-cut-item">
                    <img src="{{ item.image.url }}" alt="{{ artwork.title }}" class="video-cut-image" 
                        onclick="openModal(
                            [{% for p in previews %}'{{ p.image.url }}'{% if not forloop.last %}, {% endif %}{% endfor %}], 
                            {{ forloop.counter0 }})">
                </div>
            {% endfor %}
        </div>
        <div class="video-cut-text-content">
            <div class="video-cut-label-name kc-text-27-15 kc-text-white kc-text-uppercase">
                    {% trans "msg.pdf_cut.exhibition_catalog" %}
            </div>
            <a href="{{ pdf_file.url }}" target="_blank" class="video-cut-label-link kc-text-27-15 kc-text-white kc-text-uppercase">
                {% trans "msg.pdf_cut.full_pdf" %}
            </a>
        </div>
    </div>

{% endif %}

{% comment %} {% include 'items/images_modal.html' with images=previews %} {% endcomment %}