{% load custom_filters %}

<a href="{% url 'route' route.id %}"  class="kc-wrapper-container-full-full kc-route-container">

    {% if is_mobile %}

        <div class="kc-wrapper-container-span2 kc-route-line-wrapper">
            <div class="route-top-circle" style="background-color: {{ route.color }}">
            </div>

            <div class="kc-route-line" style="background-color: {{ route.color }}"></div>
                {% comment %} <div class="route-bottom-circle-container">
                    <div class="route-bottom-circle" style="background-color: {{ route.color }}">
                </div> {% endcomment %}

                {% if is_last%}

                    <div class="route-bottom-circle-container" style="height: 0px;">
                        <div class="route-bottom-circle" style="background-color: white;">
                    </div>
                
                {% else %}

                    <div class="route-bottom-circle-container">
                        <div class="route-bottom-circle" style="background-color: {{ route.color }}">
                    </div>

                {% endif %}

            </div>
        </div>

        <div class="kc-route-content">

            <div class="kc-container-grid">
                <div class="route-title-mobile-prefix kc-text-33-15 kc-text-uppercase" style="color: {{ route.color }}">{{ route.title|extract_prefix }}<br></div>
                <div class="route-title-mobile-name kc-text-33-15 kc-text-uppercase" style="color: {{ route.color }}">{{ route.title|remove_prefix }}<br></div>
            </div>
            
            <div class="kc-wrapper-container-6-full kc-route-image">
                <img src="{{ route.image.url }}" alt="{{ route.name }}" class="kc-route-image-img">
            </div>
    
            <div class="kc-wrapper-container-6-full">
                <div class="kc-route-description kc-text-33-15" style=" line-height: 130%;">{{ route.short_description|safe }}</div>
            </div>
        </div>
    
    {% else %}

    <div class="kc-route-line-wrapper">
        <div class="route-top-circle" style="background-color: {{ route.color }}"></div>

        <div class="kc-route-line" style="background-color: {{ route.color }}"></div>
            
        {% if is_last%}

            <div class="route-bottom-circle-container" style="margin-bottom: -20px;"></div>
        
        {% else %}

            <div class="route-bottom-circle-container">
                <div class="route-bottom-circle" style="background-color: {{ route.color }}"> </div>
            </div>

        {% endif %}

    </div>

    <div class="kc-wrapper-container-6-full">
        <div class="kc-route-line-content">
            <div class="kc-text-uppercase kc-route-title kc-text-33-15" style="color: {{ route.color }}">{{ route.title }}<br></div>
        </div>

        <div class="kc-route-line-content">

            <div class="kc-route-image">
                <img src="{{ route.image.url }}" alt="{{ route.name }}" class = "kc-route-image-img">
            </div>

            <div class="kc-text-uppercase kc-route-description kc-text-33-15">
                {{ route.short_description|safe }}
            </div>

        </div>

    </div>

        {% comment %} <div class="kc-route-image">
            <img src="{{ route.image.url }}" alt="{{ route.name }}" class = "kc-route-image-img">
        </div>

        <div class="kc-wrapper-container-one-null kc-route-line-wrapper">
            <div class="route-top-circle" style="background-color: {{ route.color }}">
            </div>

            <div class="kc-route-line" style="background-color: {{ route.color }}"></div>
                <div class="route-bottom-circle-container">
                    <div class="route-bottom-circle" style="background-color: {{ route.color }}">
                </div>
            </div>
        </div>

        <div class="kc-wrapper-container-6-full">
            <div class="kc-text-uppercase kc-route-title kc-text-33-15" style="color: {{ route.color }}">{{ route.title }}<br></div>
            <spacer style="height: 30px; display:inline-block"></spacer>
            <div class="kc-text-uppercase kc-route-description kc-text-33-15">{{ route.short_description }}</div>
        </div> {% endcomment %}

    {% endif %}

</a>