{% load static %}

<div class="route-image-slider kc-wrapper-container-full-full">

    <div class="slider-main">
        
        {% for item in images %}
        <div class="slide {% if forloop.first %}active{% endif %}">
            <img src="{{ item.image.url }}" alt="Slide {{ forloop.counter }}">
        </div>
        {% endfor %}

        {% if not is_mobile %}

        <div class="second-preview">
            <img src="{{ images.first.image.url }}" alt="Slide {{ forloop.counter }}">
        </div>

        {% endif %}
        
    </div>

    <div class="slider-thumbnails">
        {% for item in images %}
        <img src="{{ item.image.url }}" class="thumbnail {% if forloop.first %}active{% endif %}" 
             data-index="{{ forloop.counter0 }}">
        {% endfor %}

        <div class="slider-nav">
            <button class="prev">&larr;</button>
            <button class="next">&rarr;</button>
        </div>
    </div>

    <div class="slider-dots">
        {% for item in images %}
        <span class="dot {% if forloop.first %}active{% endif %}" data-index="{{ forloop.counter0 }}"></span>
        {% endfor %}
    </div>
</div>

<script src="{% static 'common/js/route-image-slider.js' %}"></script>
