{% load static %}
{% load custom_filters %}

<div class="route-header kc-wrapper-container-full-full">

    {% if is_mobile %}

    <div class="kc-container-grid route-header-content">

        {% if route_header.previous %}

        <a class="route-header-side-route" href="{% url 'route' route_header.previous.id %}">
            <div class="route-header-arrow kc-wrapper-container-one-null">
                <div class="route-header-line-right" style="background-color: {{ route_header.previous.color }}"></div>
                <div class="route-header-circle-right-content">
                    <div class="route-header-circle-right" style="background-color: {{ route_header.previous.color }}"></div>
                </div>
            </div>
            <div class="kc-text-33-15 route-header-text kc-wrapper-container-one-null" 
            style="color: {{ route_header.previous.color }}">
                {{ route_header.previous.title }}
            </div> 
        </a>


        {% endif %}

        <div class="route-header-current">

            <div class="kc-text-33-15 route-header-text " style="color: {{ route_header.current.color}}">
                    {{ route_header.current.title|extract_prefix|safe }}
            </div>
            <div class="kc-text-33-15 route-header-text route-header-title-mobile" style="color: {{ route_header.current.color}}">
                {{ route_header.current.title|remove_prefix|safe }}
            </div>  

        </div>  

        {% if route_header.next %}

            <a class="route-header-side-route" href="{% url 'route' route_header.next.id %}">
                <div class="kc-text-33-15 route-header-text-right kc-wrapper-container-one-null" 
                style="color: {{ route_header.next.color }}">
                    {{ route_header.next.title }}
                </div>   
                <div class="route-header-arrow kc-wrapper-container-one-null">
                    {% comment %} <div class="route-header-line" style="background-color: {{ route_header.previous.color }}"></div> {% endcomment %}
                    <div class="route-header-circle" style="background-color: {{ route_header.next.color }}"></div>
                    <div class="route-header-line-left" style="background-color: {{ route_header.next.color }}"></div>
                </div>
            </a>

        {% endif %}
    </div>

    {% else %}

        <div class="kc-container-grid route-header-content">

            {% if route_header.previous %}

            <a class="route-header-side-route" href="{% url 'route' route_header.previous.id %}">
                <div class="route-header-arrow kc-wrapper-container-one-null">
                    <div class="route-header-line-right" style="background-color: {{ route_header.previous.color }}"></div>
                    <div class="route-header-circle-right-content">
                        <div class="route-header-circle-right" style="background-color: {{ route_header.previous.color }}"></div>
                    </div>
                </div>
                <div class="kc-text-33-15 route-header-text kc-wrapper-container-one-nul kc-text-uppercase" 
                style="color: {{ route_header.previous.color }}">
                    {{ route_header.previous.title }}
                </div> 
            </a>
  

            {% endif %}

            <div class="kc-text-33-15 route-header-text route-header-current kc-text-uppercase" style="color: {{ route_header.current.color}}">
                    {{ route_header.current.title }}
            </div>

            {% if route_header.next %}

                <a class="route-header-side-route-right" href="{% url 'route' route_header.next.id %}">
                    <div class="kc-text-33-15 route-header-text-right kc-wrapper-container-one-null kc-text-uppercase" 
                    style="color: {{ route_header.next.color }}">
                        {{ route_header.next.title }}
                    </div>   
                    <div class="route-header-arrow kc-wrapper-container-one-null">
                        {% comment %} <div class="route-header-line" style="background-color: {{ route_header.previous.color }}"></div> {% endcomment %}
                        <div class="route-header-circle" style="background-color: {{ route_header.next.color }}"></div>
                        <div class="route-header-line-left" style="background-color: {{ route_header.next.color }}"></div>
                    </div>
                </a>

            {% endif %}
        </div>
        
        <div class="kc-separator-wide"></div>

    {% endif %}

</div>

<link rel="stylesheet" href="{% static 'common/css/items/route-header.css' %}">