{% load static %}
{% load i18n %}

{% if is_mobile %}

<div class="video-cut kc-wrapper-container-full-full">
    <div class="video-cut-item">
        <img src="{{ main_image.url }}" alt="{{ artwork.title }}" class="video-cut-image">
    </div>
    <a href = "https://www.youtube.com/@kozlovcollection" class="video-cut-label-link kc-text-27-15 kc-text-white kc-text-uppercase">
        {% trans "msg.pdf_cut.youtube" %}
        {% include "items/video_icon_white.html" %}
    </a>
    <div class="video-cut-label-name kc-text-27-15 kc-text-white kc-text-uppercase">
        {{ name }}
    </div>
</div>

{% else %}

<div class="video-cut kc-wrapper-container-full-full">
    <div class="video-cut-items-content">

        <spacer style="min-width: 30px;"></spacer>

        {% comment %} 
        <div class="video-cut-item">
            <img src="{{ main_image.url }}" alt="{{ artwork.title }}" class="video-cut-image">
        </div> {% endcomment %}

        {% for item in previews %}
            <a href="{{ item.link }}" class="video-cut-item">
                <img src="{{ item.image.url }}" alt="{{ artwork.title }}" class="video-cut-image">
            </a>
        {% endfor %}

        <spacer style="min-width: 30px;"></spacer>
        
    </div>
    <div class="video-cut-text-content kc-margin-bottom-100-40px">
        <div class="video-cut-label-name kc-text-27-15 kc-text-white kc-text-uppercase">
                {{ name }}
        </div>
        <a href = "https://www.youtube.com/@kozlovcollection"  class="video-cut-label-link kc-text-27-15 kc-text-white kc-text-uppercase">
            {% trans "msg.pdf_cut.youtube" %}
            {% include "items/video_icon_white.html" %}
        </a>
    </div>
</div>

{% endif %}