{% load static %}
{% load i18n %}

{% if is_mobile %}

<div class="video-cut kc-wrapper-container-full-full">
    <div class="video-cut-item">
        <img src="{{ main_image.url }}" alt="{{ artwork.title }}" class="video-cut-image">
    </div>
    <a href = "https://www.youtube.com/@kozlovcollection"  class="video-cut-label-link kc-text-27-15 kc-text-white kc-text-uppercase">
        {% trans "msg.pdf_cut.youtube" %}
        {% include "items/video_icon_white.html" %}
    </a>
    {% comment %} <div class="video-cut-label-name kc-text-27-15 kc-text-white kc-text-uppercase">
        {{ name }}
    </div> {% endcomment %}
</div>

{% else %}

<div class="video-cut kc-wrapper-container-full-full" style="position: relative;">
    <div class="video-cut-items-content">
        <spacer style="min-width: 30px;"></spacer>

        <div class="video-cut-item">
            <img src="{{ main_image.url }}" alt="{{ artwork.title }}" class="video-cut-image">
        </div>

        {% for item in previews %}
            <div class="video-cut-item">
                <img src="{{ item.image.url }}" alt="{{ artwork.title }}" class="video-cut-image">
            </div>
        {% endfor %}

        <spacer style="min-width: 30px;"></spacer>
        
    </div>
    <div class="video-cut-text-content">
        <div class="video-cut-label-name kc-text-27-15 kc-text-white kc-text-uppercase">
                {{ name }}
        </div>
        <a href = "https://www.youtube.com/@kozlovcollection"  class="video-cut-label-link kc-text-27-15 kc-text-white kc-text-uppercase">
            {% trans "msg.pdf_cut.youtube" %}
            {% include "items/video_icon_white.html" %}
        </a>
    </div>

    <div class="video-overlay">
        <a href="{{ item.link }}" class="video-link kc-text-21-18 kc-text-uppercase kc-text-white">YouTube</a>
        <div class="kc-text-21-18 kc-text-white video-link"> / </div>
        <a href="{{ item.link }}" class="video-link kc-text-21-18 kc-text-uppercase kc-text-white">VK Video</a>
    </div>
</div>

{% endif %}