{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "msg.collection.title" %} {% endblock %}
{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

{% if is_mobile %}

<div class="kc-color-background-wide kc-wrapper-container-half-full kc-text-white">
    <div class="kc-text-33-20 kc-text-normal kc-text-uppercase kc-line-height-big">
        {% trans "msg.collection.section1Text1" %}<br><br>
        {% trans "msg.collection.section1Text2" %}<br><br>
        {% trans "msg.collection.section1Text3" %}<br><br>
        {% trans "msg.collection.section1Text4" %}<br><br>
    </div>
    
    <div class="kc-text-33-20 kc-text-normal kc-text-uppercase kc-line-height-big">
        {% trans "msg.collection.section2Text1" %}<br><br>
        {% trans "msg.collection.section2Text2" %}<br><br>
        {% trans "msg.collection.section2Text3" %}
    </div>
    <div class="kc-wrapper-container-full-full kc-margin-top-150-40"></div>
</div>
<div class="kc-wrapper-container-full-full kc-margin-top-150-40"></div>

{% else %}

<spacer class="kc-wrapper-container-full-full kc-margin-top-150-40"></spacer>
<div class="kc-wrapper-container-half-full dt-left">
    <div class="kc-text-33-20 kc-text-normal kc-text-uppercase kc-line-height-big">
        {% trans "msg.collection.section1Text1" %}<br><br>
        {% trans "msg.collection.section1Text2" %}<br><br>
        {% trans "msg.collection.section1Text3" %}<br><br>
        {% trans "msg.collection.section1Text4" %}
    </div>
</div>

<div class="kc-wrapper-container-half-full dt-right">
    <div class="kc-text-33-20 kc-text-normal kc-text-uppercase kc-line-height-big">
        {% trans "msg.collection.section2Text1" %}<br><br>
        {% trans "msg.collection.section2Text2" %}<br><br>
        {% trans "msg.collection.section2Text3" %}<br><br>
    </div>
</div>

<spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>
<div class="kc-wrapper-container-full-full kc-separator-wide"></div>

{% endif %}

<spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>
<div class="kc-wrapper-container-full-full kc-text-53-24">{% trans "msg.collection.exploreCollection" %}</div>
<spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>

{% include "items/bottom_navigator.html" %}

<script>
    function adjustPadding() {
        const leftCol = document.querySelector('.dt-left');
        const rightCol = document.querySelector('.dt-right');
    
        if (leftCol && rightCol) {
            const rightHeight = rightCol.clientHeight;
            const leftHeight = leftCol.clientHeight;
    
            if (leftHeight < rightHeight) {
                leftCol.style.paddingRight = `${rightHeight - leftHeight}px`;
            } else {
                leftCol.style.paddingRight = "20px"; // Стандартный отступ
            }

            console.log("resize");
        }
    }
    
    // Запускаем при загрузке и изменении размера окна
    window.addEventListener('load', adjustPadding);
    window.addEventListener('resize', adjustPadding);
</script>

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}


