{% extends "base.html" %}

{% block title %} Коллекция {% endblock %}

{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

    <spacer class="kc-wrapper-container-full-full kc-spacer-main"></spacer>
    
    <block class="kc-wrapper-container-half-full">
        <div class="kc-text-33-20 kc-text-normal kc-line-height-big">
            КУЛЬТУРА — ПРАВО КАЖДОГО. МЫ ИМЕЕМ В ВИДУ НЕ ТОЛЬКО ДОСТУПНОСТЬ КУЛЬТУРЫ ДЛЯ ШИРОКОГО КРУГА ЗРИТЕЛЕЙ, НО И ВОЗМОЖНОСТЬ КАЖДОГО УЧАСТВОВАТЬ В ЕЕ ФОРМИРОВАНИИ.<br><br>
            УЧАСТИЕ — НЕ ПРОСТО ВЫБОР ГОТОВЫХ ВАРИАНТОВ, КОТОРЫЕ ПРЕДЛАГАЮТ КУЛЬТУРНЫЕ ИНСТИТУЦИИ, НО И СОЗДАНИЕ СВОИХ.<br><br>
            КОЛЛЕКЦИЯ И СВЯЗАННАЯ С НЕЙ ВЫСТАВОЧНАЯ ДЕЯТЕЛЬНОСТЬ — НЕ ТОЛЬКО ПРОСВЕТИТЕЛЬСКИЙ ПРОЕКТ, НО СПОСОБ ПОДДЕРЖКИ РАЗНООБРАЗНЫХ ИНИЦИАТИВ, ПОМОГАЮЩИХ ОБРЕСТИ ГОЛОС ХУДОЖНИКАМ, ЗРИТЕЛЯМ И ВСЕМ ИНТЕРЕСУЮЩИМСЯ ИСКУССТВОМ. В ОСНОВЕ КОЛЛЕКЦИИ ЛЕЖАТ ДРУЖЕСКИЕ ОТНОШЕНИЯ С ХУДОЖНИКАМИ И ПРОФЕССИОНАЛАМИ В ОБЛАСТИ ИСКУССТВА. ДРУЗЬЯ — ТЕ, КОМУ ТЫ ПОЗВОЛЯЕШЬ ВЛИЯТЬ НА СЕБЯ.<br><br>
        </div>
    </block>

    <block class="kc-wrapper-container-half-full">
        <div class="kc-text-33-20 kc-text-normal kc-line-height-big">
            ДРУЖЕСКИЙ ДИАЛОГ ВОЗМОЖЕН ТОЛЬКО ВНЕ ТОТАЛЬНОЙ ИДЕОЛОГИИ, САМОЕ УГРОЖАЮЩЕЕ СВИДЕТЕЛЬСТВО КОТОРОЙ — ПРИЗНАНИЕ ЕДИНСТВЕННО ВОЗМОЖНОЙ ХУДОЖЕСТВЕННОЙ ДОКТРИНЫ И БЕЗАЛЬТЕРНАТИВНОЕ ПОНИМАНИЕ СОВРЕМЕННОСТИ.<br><br>
            МЫ ОТКАЗЫВАЕМСЯ ОТ ЭТИХ КАТЕГОРИЙ В ПОЛЬЗУ МНОГООБРАЗИЯ. МЫ ВЕРИМ, ЧТО ИСКУССТВО — НЕОТЪЕМЛЕМАЯ ЧАСТЬ ЖИЗНЬ КАЖДОГО СОВРЕМЕННОГО ЧЕЛОВЕКА. ДЛЯ ЭТОГО МЫ ДВИЖЕМСЯ ОТ ЦЕНТРОВ КУЛЬТУРЫ В СТОЛИЦЕ КО МНОЖЕСТВУ ИНСТИТУЦИЙ И ХУДОЖЕСТВЕННЫХ СООБЩЕСТВ ПО ВСЕЙ СТРАНЕ.<br><br>
            НАШИ ПРИНЦИПЫ: ОТНОШЕНИЯ НА РАВНЫХ СО ВСЕМИ УЧАСТНИКАМИ ХУДОЖЕСТВЕННОГО ПРОЦЕССА, ДИАЛОГ, ВЫСТРАИВАНИЕ ДЕЯТЕЛЬНОСТИ В СООТВЕТСТВИИ С ПРЕДСТАВЛЕНИЯМИ ОБ ИСТОРИИ ИСКУССТВА КАК О ЖИВОМ И МНОГООБРАЗНОМ ПРОЦЕССЕ.
        </div>
    </block>

    <spacer class="kc-wrapper-container-full-full kc-spacer-medium"></spacer>
    <div class="kc-wrapper-container-full-full kc-separator-wide"></div>
    <spacer class="kc-wrapper-container-full-full kc-spacer-regular"></spacer>
    <div class="kc-wrapper-container-full-full kc-text-53-24">ИССЛЕДУЙТЕ КОЛЛЕКЦИЮ:</div>
    <spacer class="kc-wrapper-container-full-full kc-spacer-regular"></spacer>

    <a href="{% url 'collection_m1_m10' %}" class="td-collection-menu-container kc-wrapper-container-full-full">
        <div class="td-collection-menu-item-main kc-text-33-24">М.1 — М.10</div> 
        <div class="td-collection-menu-item-small kc-text-33-15">НЕЛИНЕЙНЫЕ ОБЪЕДИНЕНИЯ ПРОИЗВЕДЕНИЙ<br>В МАРШРУТЫ ПО ИСТОРИИ ИСКУССТВА</div>
    </a>
    
    <a href="{% url 'collection_a_z' %}" class="td-collection-menu-container kc-wrapper-container-full-full">
        <div class="td-collection-menu-item-main kc-text-33-24">А — Я</div> 
        <div class="td-collection-menu-item-small kc-text-33-15">СПИСОК ХУДОЖНИКОВ КОЛЛЕКЦИИ<br>В АЛФАВИТНОМ ПОРЯДКЕ</div>
    </a>
    
    <a href="{% url 'collection_by_years' %}" class="td-collection-menu-container kc-wrapper-container-full-full">
        <div class="td-collection-menu-item-main kc-text-33-24">1957 — 2057</div> 
        <div class="td-collection-menu-item-small kc-text-33-15">ПРОИЗВЕДЕНИЯ ИСКУССТВА,<br>ПРЕДСТАВЛЕННЫЕ В ХРОНОЛОГИЧЕСКОМ ПОРЯДКЕ</div>
    </a>
    
    <a href="{% url 'collection' %}" class="td-collection-menu-container kc-wrapper-container-full-full">
        <div class="td-collection-menu-item-main kc-text-33-24">ВИДЕО</div> 
        <div class="td-collection-menu-item-small kc-text-33-15">YOUTUBE-КАНАЛ «ПОКА ВСЕ ДОМА У АНТОНА»<br>О РАБОТАХ ИЗ КОЛЛЕКЦИИ</div>
    </a>

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}