{% extends "base.html" %}

{% block title %}{{ data.name }}{% endblock %}

{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

    <spacer class="kc-align-full kc-spacer-main"></spacer>
    <block class="kc-align-half">
        <div class="kc-text-wrapper kc-text-regular kc-text-large kc-text-uppercase">{{ data.name }}</div>
        <p class="kc-text-normal kc-text-regular">  {{ data.description }}  </p>
    </block>
    <block class="kc-align-half">
        <div class="kc-photo-wrapper">
            <img class="fit-picture" src="{{ data.photo.url }}" alt="Artist photo">
            <div class="kc-text-regular kc-text-light">Фото: {{data.photoAuthor}}</div>
            <div class="kc-text-regular kc-text-light">Текст: {{data.textAuthor}}</div>
        </div>
    </block>
    <spacer class="kc-align-full kc-spacer-main"></spacer>
    <div class="kc-text-wrapper kc-text-regular kc-text-large kc-text-uppercase kc-align-full">Работы в коллекции</div>
    <spacer class="kc-align-full kc-spacer-main"></spacer>

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}