# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
media/
static/

# PyCharm
.idea/

# VS Code
.vscode/

# Virtual environment
venv/
env/
.venv/

# Django migrations
*/migrations/*

# Distribution / packaging
.Python
*.egg
*.egg-info
dist/
build/
*.manifest
*.spec

# mypy
.mypy_cache/

# pytest
.cache/

# pyenv
.python-version

# pipenv
Pipfile.lock

# coverage reports
.coverage
*.cover

# Django secret key
secret_key.txt

# Jupyter Notebook
.ipynb_checkpoints/
