{% extends "base.html" %}

{% block title %} Artist List {% endblock %}

{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

<spacer class="kc-align-full kc-spacer-main"></spacer>

{% for letter, artists in data.items %}
    {% for artist in artists %}
        <div class="letter kc-align-half kc-text-regular kc-text-left kc-text-uppercase">
            {% if forloop.first %}
                {{ letter }}
            {% endif %}
        </div>
        <div class="artist-name kc-align-half kc-text-regular kc-text-left kc-text-uppercase kc-text-color-remove">
            <a href="{% url 'artist_detail' artist.id %}">{{ artist.name }}</a>
        </div>
    {% endfor %}
{% endfor %}    

<spacer class="kc-align-full kc-spacer-main"></spacer>

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}
