{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "msg.artist_list.title" %} {% endblock %}
{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

{% if not is_mobile %}

    {% include 'items/navigator.html' %}

{% endif%}

{% if is_mobile %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let headerText = document.querySelector(".kc-header-text");
        if (headerText) {
            headerText.textContent = "{% trans "msg.mobile_header.collection_az" %}";

            //if (headerText.tagName === "A") {
            //    headerText.href = "https://example.com";
            //}
        }
    });
</script>

{% endif%}

<spacer class="kc-wrapper-container-full-full kc-margin-top-150-40 kc-margin-top-150-40"></spacer>

{% for letter, artists in data.items %}
    {% for artist in artists %}

        {% if artist.is_visible %}

            <div class="letter kc-wrapper-container-half-one kc-text-customsize-artists kc-text-left kc-text-uppercas kc-text-33-20" style="line-height: 90%;">
                {% if forloop.first %}
                    {{ letter }}
                {% endif %}
            </div>
            <div class="animation-hover-bounce artist-name kc-wrapper-container-half-3 kc-text-customsize-artists kc-text-left kc-text-uppercase kc-text-33-20">
                <a href="{% url 'artist_detail' artist.id %}" class="animation-hover-zoom-color ">{{ artist.name }}</a>
            </div>

        {% endif %}

    {% endfor %}
{% endfor %}    

<spacer class="kc-wrapper-container-full-full kc-spacer-main"></spacer>

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}
