{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->
    
    {% if is_mobile %}

        {% comment %} <spacer class="kc-wrapper-container-full-full" style="min-height: 20px;"></spacer>    {% endcomment %}

        {% include "mobile_versions/artwork_mobile.html"%}

    {% else %}

    <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>

    <div class="kc-wrapper-container-half-full td-artwork-main-image-content">

        <img
            src="{{ data.main_image.url }}" alt="{{ data.title }}" class="td-artwork-main-image"
            {% if data.artwork_images.all %}
                onclick="openModal(
                    [{% for p in data.artwork_images.all %}'{{ p.image.url }}'{% if not forloop.last %}, {% endif %}{% endfor %}], 
                    0,
                    true
                )"
            {% else%}
                onclick="openModal(
                    ['{{ data.main_image.url }}'], 
                    0,
                    true
                )"
            {% endif %}
        >

        <div class="td-artwork-main-video-container" style="display: none;">
            <video class="td-artwork-main-video" style="width: 100%; height: auto;" controls></video>
        </div>
        

        <div class="kc-spacer-tiny"></div>

        <div class="td-gallery-wrapper">
            <div class="td-image-gallery">
                {% for media in data.artwork_images.all %}
                    <div class="td-image-preview">
                        {% if media.video %}
                            <div class="video-thumbnail-wrapper">
                                <video src="{{ media.video.url }}" class="thumbnail" muted preload="metadata" data-type="video"></video>
                                <div class="play-icon-overlay">
                                    <img 
                                        src="{% static 'common/assets/video-overlay-icon.svg' %}" 
                                        alt="▶" 
                                    >
                                </div>
                            </div>
                        {% else %}
                            <img src="{{ media.image.url }}" alt="additionalImage" class="thumbnail" data-type="image">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="kc-wrapper-container-half-full">

        <div class="kc-text-wrapper kc-text-53-15 td-artwork-info-title">
            <div class="td-artwork-info-title-name"><i>{{ data.title }}</i></div> 
            {% if neighboring_artworks_ids.previous or neighboring_artworks_ids.next %}

                <div class="td-artwork-arrows-content" style="grid-column: span 1;">
                    <!-- Предыдущее произведение -->
                    <div class="id-artwork-arrow">
                        {% if neighboring_artworks_ids.previous %}
                            <a href="{% url 'artwork' neighboring_artworks_ids.previous %}">
                                <img src="{% static 'common/assets/artwork-arrow-left.svg' %}" alt="Предыдущее произведение" class="id-artwork-arrow-img" />
                            </a>
                        {% else %}
                            <img src="{% static 'common/assets/artwork-arrow-left.svg' %}" alt="Предыдущее произведение" class="id-artwork-arrow-img disabled" />
                        {% endif %}
                    </div>

                    <!-- Следующее произведение -->
                    <div class="id-artwork-arrow">
                        {% if neighboring_artworks_ids.next %}
                            <a href="{% url 'artwork' neighboring_artworks_ids.next %}">
                                <img src="{% static 'common/assets/artwork-arrow-right.svg' %}" alt="Следующее произведение" class="id-artwork-arrow-img" />
                            </a>
                        {% else %}
                            <img src="{% static 'common/assets/artwork-arrow-right.svg' %}" alt="Следующее произведение" class="id-artwork-arrow-img disabled" />
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        
        {% if data.series %}
            <div class="kc-text-wrapper kc-text-53-15">{{ data.series }}</div>
        {% endif %}


        <div class="kc-text-21-15 kc-margin-top-100-40 kc-margin-bottom-100-40">{{ data.description|safe }}</div>

    
        <div class="td-artwork-info">
            <div class="td-artwork-info-name kc-text-21-15 kc-text-primary kc-letter-spacing-5">{% trans 'msg.artwork.author' %}</div> 
            <div class="td-artwork-info-value kc-text-21-15">
                <a href="{% url 'artist_detail' data.artist.id %}" class = "kc-text-21-15 kc-link-decoration kc-text-uppercase">{{ data.artist.name }}</a>
            </div>



            <div class="td-artwork-info-name kc-text-21-15 kc-text-primary kc-letter-spacing-5">{% trans 'msg.artwork.year' %}</div>
            <div class="td-artwork-info-value kc-text-21-15 kc-text-uppercase">{{ data.year }}</div>



            <div class="td-artwork-info-name kc-text-21-15 kc-text-primary kc-letter-spacing-5">{% trans 'msg.artwork.technique' %}</div>
            <div class="td-artwork-info-value kc-text-21-15 kc-text-uppercase">{{ data.technique }}</div>



            <div class="td-artwork-info-name kc-text-21-15 kc-text-primary kc-letter-spacing-5">{% trans 'msg.artwork.size' %}</div>
            <div class="td-artwork-info-value kc-text-21-15 kc-text-uppercase">{{ data.get_safe_size }}</div>



            <div class="td-artwork-info-name kc-text-21-15 kc-text-primary kc-letter-spacing-5">{% trans 'msg.artwork.cipher' %}</div>
            <div class="td-artwork-info-value kc-text-21-15 kc-text-uppercase">{{ data.cipher }}</div>


            {% if data.provenance %}

            <div class="td-artwork-info-name kc-text-21-15 kc-text-primary kc-letter-spacing-5">{% trans 'msg.artwork.provenance' %}</div>
            <div class="td-artwork-info-value kc-text-21-15 kc-text-uppercase kc-link-decoration-inline">{{ data.provenance|safe }}</div>
            
            {% endif %}

            {% if data.exhibitions %}

            <div class="td-artwork-info-name kc-text-21-15 kc-text-primary kc-letter-spacing-5">{% trans 'msg.artwork.exhibitions' %}</div>
            <div class="td-artwork-info-value kc-text-21-15 kc-text-uppercase kc-link-decoration-inline">{{ data.exhibitions|safe }}</div>

            {% endif %}

            {% if data.publications %}

            <div class="td-artwork-info-name kc-text-21-15 kc-text-primary kc-letter-spacing-5">{% trans 'msg.artwork.publications' %}</div>
            <div class="td-artwork-info-value kc-text-21-15 kc-text-uppercase kc-link-decoration-inline">{{ data.publications|safe }}</div>

            {% endif %}

        </div>
    </div>

    <div class="kc-margin-bottom-100-40"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const mainImage = document.querySelector(".td-artwork-main-image");
            const mainVideo = document.querySelector(".td-artwork-main-video");
            const videoContainer = document.querySelector(".td-artwork-main-video-container");
            const thumbnails = document.querySelectorAll(".thumbnail");
        
            thumbnails.forEach(thumbnail => {
                thumbnail.addEventListener("click", function () {
                    thumbnails.forEach(thumb => thumb.classList.remove("active-thumbnail"));
                    this.classList.add("active-thumbnail");
        
                    if (this.dataset.type === "image") {
                        // Показать изображение
                        mainVideo.pause();
                        videoContainer.style.display = "none";
                        mainImage.style.display = "block";
                        
                        mainImage.style.opacity = "0";
                        setTimeout(() => {
                            mainImage.src = this.src;
                            mainImage.alt = this.alt;
                            mainImage.style.opacity = "1";
                        }, 200);
                    } else if (this.dataset.type === "video") {
                        // Показать видео
                        mainImage.style.display = "none";
                        videoContainer.style.display = "block";
                        
                        mainVideo.src = this.src;
                        mainVideo.load();
                        mainVideo.play();
                    }
                });
            });
        });
        </script>
        

        <style>
            .video-thumbnail-wrapper {
                position: relative;
                display: inline-block;
                height: 100%;
            }
            .play-icon-overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                color: white;
                pointer-events: none;
                text-shadow: 0 0 10px black;
            }
            .thumbnail {
                cursor: pointer;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            </style>

    {% endif %}

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}
