{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

    <div class="kc-wrapper-container-full-full kc-page-header">
        {% trans "msg.exhibitionSwitch.exhibitions" %}
    </div>

    {% if is_mobile %}

    <a href="{% url 'exhibitions_participation' %}" class="kc-wrapper-container-full-full kc-container-grid exhibition-item" style="margin-top: 40px;">
        <div class="kc-text-53-15 kc-text-uppercase kc-wrapper-container-full-full kc-margin-bottom-15">
            {% trans "msg.exhibitionSwitch.participationInProjects" %}
        </div>
        <div class="kc-wrapper-container-full-full cooperation-item-image-content kc-margin-bottom-15" style="height:170px">
            <img src="{% static 'common/assets/own-item-2.JPG' %}" alt="Flow Event Image" class="cooperation-item-image">
        </div>
        <div class="kc-wrapper-container-full-full kc-text-21-15">
            {% trans "msg.exhibitionSwitch.exhibitionProjectsDescription" %}
        </div>
    </a>
    

    <div class="kc-wrapper-container-full-full kc-separator-wide"></div>

    <a href="{% url 'own_exhibitions' %}" class="kc-wrapper-container-full-full kc-container-grid exhibition-item" style="margin-top: 40px;">
        <div class="kc-text-53-15 kc-text-uppercase kc-wrapper-container-full-full kc-margin-bottom-15">
            {% trans "msg.exhibitionSwitch.ownExhibitionProgram" %}
        </div>

        <div class="kc-wrapper-container-full-full cooperation-item-image-content kc-margin-bottom-15" style="height:170px">
            <img src="{% static 'common/assets/own-item.JPG' %}" alt="Flow Event Image" class="cooperation-item-image">
        </div>

        <div class="kc-wrapper-container-full-full kc-text-21-15">
            {% trans "msg.exhibitionSwitch.ownExhibitionProjectsDescription" %}
        </div>
    </a>
    
    {% else %}

    <div class="kc-wrapper-container-full-full kc-separator"></div>
    
    <a href="{% url 'exhibitions_participation' %}" class="kc-wrapper-container-full-full kc-container-grid exhibition-item">
        <div class="kc-wrapper-container-span6 cooperation-item-image-content" style="height:500px">
            <img src="{% static 'common/assets/own-item-2.JPG' %}" alt="Flow Event Image" class="cooperation-item-image">
        </div>
        <div class="kc-wrapper-container-span7-from6">
            <div class="kc-text-53-15 kc-text-uppercase kc-margin-bottom-100-40">
                {% trans "msg.exhibitionSwitch.participationInProjects" %}
            </div>
            <div class="kc-text-uppercase kc-text-21-15 ">
                {% trans "msg.exhibitionSwitch.exhibitionProjectsDescription" %}
            </div>
        </div>
    </a>

    <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>

    <div class="kc-wrapper-container-full-full kc-separator"></div>
    
    <a href="{% url 'own_exhibitions' %}" class="kc-wrapper-container-full-full kc-container-grid exhibition-item">
        <div class="kc-wrapper-container-span6 cooperation-item-image-content" style="height:500px">
            <img src="{% static 'common/assets/own-item.JPG' %}" alt="Flow Event Image" class="cooperation-item-image">
        </div>
        <div class="kc-wrapper-container-span7-from6">
            <div class="kc-text-53-15 kc-text-uppercase kc-margin-bottom-100-40">
                {% trans "msg.exhibitionSwitch.ownExhibitionProgram" %}
            </div>
            <div class="kc-text-uppercase kc-text-21-15 ">
                {% trans "msg.exhibitionSwitch.ownExhibitionProjectsDescription" %}
            </div>
        </div>
    </a>

    <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>

    {% endif %}

    {% comment %} {% for item in data %} 

        <div class="kc-separator kc-wrapper-container-full-full"></div>
        {% include "items/exhibition_item.html" with data=item %}
        <div class="kc-wrapper-container-one-null kc-utils-remove-fisrt-in-grid-hide"></div>
    
    {% endfor %} {% endcomment %}


{% endblock %}
