{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

    <div class="kc-wrapper-container-full-full kc-margin-bottom-100-40"></div>

    {% if is_mobile %}

        <div class="kc-text-53-24 kc-text-uppercase kc-wrapper-container-full-full">
            {{ data.title }}
        </div>
        <div class="kc-text-21-15 kc-text-uppercase kc-text-primary kc-margin-bottom-100-40" style="grid-column: 2 / span 3; margin-top: 20px;">
            {{ data.start_date }}-{{ data.end_date }}
            <br>
            {{ data.location }}
        </div>

        {% comment %} {% if data.press_kit_zip %}
            <a href="{{ data.press_kit_zip.url }}" class="kc-text-21-15 kc-text-uppercase kc-text-primary">
                скачать пресс-кит
            </a>
            <br>
        {% endif %}
        {% if data.catalog_pdf %}
            <a href="{{ data.catalog_pdf.url }}" class="kc-text-21-15 kc-text-uppercase kc-text-primary kc-margin-bottom-100-40">
                скачать каталог
            </a>
        {% endif %} {% endcomment %}

        {% if data.artwork_images.all %}

            <div class="kc-wrapper-container-full-full kc-mobile-slider-wrapper-container kc-mobile-slider-margin-bottom">
                <div class="kc-mobile-slider">
                    {% for image in data.artwork_images.all %}
                        <div class="kc-mobile-slider-slide">
                            <img src="{{ image.image.url }}" alt="Artwork Image" class="kc-mobile-slider-slide-img"
                            onclick="openModal(
                            [{% for p in data.artwork_images.all %}'{{ p.image.url }}'{% if not forloop.last %}, {% endif %}{% endfor %}], 
                            0)"
                        >
                            
                        </div>
                    {% endfor %}
                </div>
                <div class="kc-mobile-slider-dots">
                    {% for image in data.artwork_images.all %}
                        <span class="kc-mobile-slider-dot" data-index="{{ forloop.counter0 }}"></span>
                    {% endfor %}
                </div>
            </div>

        {% else %}

            {% if data.image %}

                <div class="kc-wrapper-container-full-full kc-mobile-slider-slide" style="margin-bottom: 40px;">
                    <img src="{{ data.image.url }}" alt="data.image.url" class="kc-mobile-slider-slide-img">
                </div>

            {% endif %}

        {% endif %}

        <link rel="stylesheet" href="{% static 'common/css/items/artwork-image-slides.css' %}">
        <script src="{% static 'common/js/mobile-slider.js' %}"></script>

        <div class="kc-wrapper-container-full-full">
            <div class="kc-text-21-18">
                {{ data.text|safe }}
            </div>
        </div>
    
    {% else %}

        {% comment %} {% include 'items/image_slider_wide.html' with images=data.artwork_images.all %} {% endcomment %}

        <div class="kc-wrapper-container-half">
            <div class="kc-text-53-24 kc-text-uppercase">
                {{ data.title }}
            </div>
            <spacer style="height: 90px; display:inline-block;"></spacer>
            <div class="kc-text-21-15 kc-text-uppercase kc-line-height-135">
                {{ data.start_date }}-{{ data.end_date }}
                <br>
                {{ data.location }}
                {% if data.curators %}
                    <br>
                    {{ data.curators }}
                {% endif %}
            </div>
            {% if data.press_kit_zip %}
                <a href="{{ data.press_kit_zip.url }}" class="kc-text-21-15 kc-text-uppercase kc-text-primary kc-line-height-135">
                    {% trans "msg.exhibition.download_press_kit" %}
                </a>
                <br>
            {% endif %}
            {% if data.catalog_pdf %}
                <a href="{{ data.catalog_pdf.url }}" class="kc-text-21-15 kc-text-uppercase kc-text-primary kc-margin-bottom-100-40 kc-line-height-135">
                    {% trans "msg.exhibition.download_catalog" %}
                </a>
            {% endif %}
            
            {% if data.artwork_images.all %}

                {% include 'items/image_slider.html' with images=data.artwork_images.all %}

            {% else %}
            

                {% if data.image %}

                    <div class="kc-wrapper-container-half-full kc-mobile-slider-slide" style="margin-bottom: 90px; margin-top: 90px;">
                        <img 
                        src="{{ data.image.url }}" 
                        alt="data.image.url" 
                        style="width: 100%;height: auto; object-fit: contain;"
                        onclick="openModal(
                                ['{{ data.image.url }}'], 
                                0,
                                true
                            )"
                        >
                    </div>

                {% endif %}

            {% endif %}
            
        </div>

        <div class="kc-wrapper-container-half">
            <div class="kc-text-21-18">
                {{ data.text|safe }}
            </div>
        </div>

    {% endif %}

    {% if data.catalog_pdf %}

        {% include "items/pdf_cut.html" with previews=data.exhibition_pdf_images.all name=data.route_video.title pdf_file=data.catalog_pdf %}

    {% endif %}

    <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>
    <div class="kc-text-wrapper kc-text-53-24 kc-text-uppercase kc-wrapper-container-full-full">работы из коллекции, представленные в экспозиции{% trans "msg.exhibition.in_collection" %}</div>
    <spacer class="kc-wrapper-container-full-full kc-margin-bottom-100-40"></spacer>

    {% include "items/artwork_grid.html" with artworks=data.artworks.all %}


{% endblock %}