{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

    <div class="kc-wrapper-container-full-full kc-text-item-inner-header">
        выставки
    </div>

    {% if is_mobile %}


    
    {% else %}



    {% endif %}

    {% for item in data %}

        <div class="kc-separator kc-wrapper-container-full-full"></div>
        {% include "items/exhibition_item.html" with data=item %}
        <div class="kc-wrapper-container-one-null kc-utils-remove-fisrt-in-grid-hide"></div>
    
    {% endfor %}


{% endblock %}