{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

    <div class="kc-wrapper-container-full-full kc-margin-top-100-40"></div>

    {% if is_mobile %}


    
    {% else %}

    <div class="kc-wrapper-container-half">
        <div class="kc-text-53-24 kc-margin-bottom-100-40">
            {{ data.title }}
        </div>
        <div class="kc-text-21-15 kc-text-uppercase">
            {{ data.start_date }}-{{ data.end_date }}
        </div>
        <div class="kc-text-21-15 kc-text-uppercase">
            {{ data.location }}
        </div>
        <div class="kc-text-21-15 kc-text-uppercase">
            {{ data.curators }}
        </div>
        <div class="kc-text-21-15 kc-text-uppercase kc-text-primary">
            скачать пресс-кит (zip, 50mb)
        </div>
        <div class="kc-text-21-15 kc-text-uppercase kc-text-primary kc-margin-bottom-100-40">
            скачать каталог (pdf, 65mb)
        </div>
    </div>

    <div class="kc-wrapper-container-half">
        <div class="kc-text-21-18" style="line-height: 29.4px;">
            {{ data.text|safe }}
        </div>
    </div>

    {% endif %}

    {% if data.catalog_pdf %}

        {% include "items/pdf_cut.html" with previews=data.exhibition_pdf_images.all name=data.route_video.title pdf_file=data.catalog_pdf %}

    {% endif %}

    <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>
    <div class="kc-text-wrapper kc-text-53-24 kc-text-uppercase kc-wrapper-container-full-full">Работы из коллекции, представленные на выставке:</div>
    <spacer class="kc-wrapper-container-full-full kc-margin-bottom-100-40"></spacer>

    {% include "items/artwork_grid.html" with artworks=data.artworks.all %}


{% endblock %}