{% extends "base.html" %}
{% load i18n %}
{% block title %}Главная страница{% endblock %}

{% block content %}

{% if is_mobile %}

	<div class="kc-wrapper-container-full-full kc-text-item-inner-header">
        {% trans "Суета" %}
    </div>
	
{% else %}

	<div class="kc-wrapper-container-full-full" style="height: 166px;"></div>

{% endif %}

{% for flow_event in data %}
    {% include "items/flow_item.html" with flow_event=flow_event %}
    <div class="kc-wrapper-container-one-null kc-utils-remove-fisrt-in-grid-hide"></div>
{% endfor %}

{% endblock %}