{% extends "base.html" %}
{% load i18n %}
{% block title %}Суета{% endblock %}

{% block content %}

{% if is_mobile %}

	<div class="kc-wrapper-container-full-full kc-page-header kc-margin-bottom-100-40">
        {% trans "msg.flow.flow" %}
    </div>
	
{% else %}

	<div class="kc-wrapper-container-full-full kc-margin-bottom-100-40"></div>

{% endif %}

{% for flow_event in data %}

    {% include "items/flow_item.html" with flow_event=flow_event %}

    {% if not forloop.counter|divisibleby:3%}
        <div class="kc-empty-space"></div>
    {% endif %}

{% endfor %}

{% endblock %}