{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %} {% trans Главная  %} {% endblock %}

{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

    <spacer class="kc-wrapper-container-full-full kc-margin-top-150-40"></spacer>

    {% if is_mobile %}

    <div class="kc-wrapper-container-full-full">
        <div class="kc-margin-bottom-150-40" style="height: 420px;">
            <img src="{% static 'common/assets/main-image.png' %}" alt="Logo" class="kc-wrapper-image-full" style="object-position: top;">
        </div>
    </div>

    {% else %}

    <div class="kc-wrapper-container-span4">
        <div class="" style="object-position: top;">
            <img src="{% static 'common/assets/main-image.png' %}" alt="Logo" class="kc-wrapper-image">
        </div>
    </div>

    <div class="kc-wrapper-container-span3">
    </div>

    {% endif %}


    <div class="kc-wrapper-container-half-full">
        <div class="kc-text-33-20 kc-text-uppercase kc-text-normal">
            {% trans "msg.main.description" %}
        </div>
    </div>

    {% if is_mobile %}
        <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>
    {% endif %}
    <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>

    <div class="kc-wrapper-container-full-full kc-separator-wide"></div>

    <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>
    {% if is_mobile %}
        <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>
    {% endif %}

    <div class="kc-wrapper-container-full-full kc-text-53-24 kc-text-uppercase">{% trans "msg.main.exploreCollection" %}</div>
    <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>

    {% include "items/bottom_navigator.html" %}

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}