{% extends "base.html" %}
{% load static %}
{% block title %} Коллекция {% endblock %}

{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

    <spacer class="kc-wrapper-container-full-full kc-margin-top-150-40"></spacer>

    {% if is_mobile %}

    <div class="kc-wrapper-container-full-full">
        <div class="kc-margin-bottom-150-40" style="height: 400px;">
            <img src="{% static 'common/assets/main-image.svg' %}" alt="Logo" class="kc-wrapper-image-full">
        </div>
    </div>

    {% else %}

    <div class="kc-wrapper-container-span4">
        <div class="" style="height: 400px;">
            <img src="{% static 'common/assets/main-image.svg' %}" alt="Logo" class="kc-wrapper-image">
        </div>
    </div>

    <div class="kc-wrapper-container-span3">
    </div>

    {% endif %}


    <div class="kc-wrapper-container-half-full">
        <div class="kc-text-33-20 kc-text-uppercase kc-text-normal kc-line-height-big">
            КОЛЛЕКЦИЯ АНТОНА КОЗЛОВА, ФОРМИРОВАНИЕ КОТОРОЙ НАЧАЛОСЬ ВЕСНОЙ 2019 ГОДА, ПРЕДСТАВЛЯЕТ ИСТОРИЮ РАЗВИТИЯ СОВЕТСКОГО НОНКОНФОРМИЗМА И СОВРЕМЕННОГО РОССИЙСКОГО ИСКУССТВА, ОХВАТЫВАЯ ПЕРИОД С 1957 ГОДАПО НАСТОЯЩЕЕ ВРЕМЯ.<br><br>
            На сегодняшний день коллекция насчитывает БОЛЕЕ ТЫСЯЧи ПРОИЗВЕДЕНИЙ ПОРЯДКА СТА авторов, среди которых есть как признанные во всем мире художники, так и находящиеся в начале творческого пути. Определяющим фактором в выборе художников, принадлежащих разным поколениям и историческим эпохам, стала их способность чутко улавливать течение мирового художественного процесса, одновременно откликаясь на своеобразие российского контекста.<br><br>
            Структура коллекции соответствует ключевым направлениям искусства послевоенного периода: абстракция, кинетическое искусство и оп-арт, метафизическое искусство, московский концептуализм, соц-арт и другие. Особое место в коллекции занимает искусство 2010−2020-х годов, демонстрирующее противоречивый характер времени и множество вариантов его осмысления.<br><br>
            Помимо традиционных видов изобразительного искусства — живописи, графики и скульптуры —в коллекции представлено все многообразие актуальных художественных практик, от объектов и инсталляций до фотографии и видео-арта.
        </div>
    </div>

    <spacer class="kc-wrapper-container-full-full kc-spacer-medium"></spacer>
    <div class="kc-wrapper-container-full-full kc-separator-wide"></div>
    <spacer class="kc-wrapper-container-full-full kc-spacer-regular"></spacer>
    <div class="kc-wrapper-container-full-full kc-text-53-24">ИССЛЕДУЙТЕ КОЛЛЕКЦИЮ:</div>
    <spacer class="kc-wrapper-container-full-full kc-spacer-regular"></spacer>

    {% include "items/bottom_navigator.html" %}

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}