{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

    <h1 class="kc-text-center kc-text-primary">Добро пожаловать!</h1>
    <p class="kc-text-center kc-text-muted">Это пример страницы, которая использует базовый шаблон и стили. Стили искать по поиску ("kc-......."). Пример офрмления см в этом html </p>

    <div class="kc-row kc-mt-4">
        <div class="kc-col-6">
            <div class="kc-card">
                <h2 class="kc-text-center kc-text-dark">Пример</h2>
                <p class="kc-text-center">Template</p>
            </div>
        </div>
        <div class="kc-col-6">
            <div class="kc-card">
                <h2 class="kc-text-center kc-text-dark">Пример</h2>
                <p class="kc-text-center">Template</p>
            </div>
        </div>
    </div>

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}