{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

{% include "items/period_header.html" with period_header=header_data %}


{% if data.is_null %}

{% include "items/null_period.html" %}

{% else %}

    {% if not is_mobile %}

        <div class="kc-margin-top-150-40 kc-wrapper-container-full-full"></div>

    {% endif %}
    
    {% if is_mobile %}

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                let headerText = document.querySelector(".kc-header-text");
                if (headerText) {
                    headerText.textContent = "{% trans "msg.mobile_header.collection_years" %}";
        
                    //if (headerText.tagName === "A") {
                    //    headerText.href = "https://example.com";
                    //}
                }
            });
        </script>

        <div class="kc-wrapper-container-half-full kc-margin-bottom-100-40 kc-text-33-24">
            {% trans 'msg.artwork.locations' %}
        </div>

        <div class="kc-wrapper-container-half-full kc-text-21-15">
            {{ data.text|replace_newlines }}
        </div>
    
    {% else %}

        <div class="kc-wrapper-container-half-full kc-text-33-24">
            {% trans 'msg.artwork.locations' %}
        </div>

        <div class="kc-wrapper-container-half-full kc-text-21-15">
            {{ data.text|safe }}
        </div>

    {% endif %}


    

    {% if is_mobile %}

        <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>

        <div class="kc-wrapper-container-full-full kc-separator-wide"> </div>
        <spacer class="kc-wrapper-container-full-full kc-margin-top-100-40"></spacer>
        <div class="kc-text-wrapper kc-text-53-24 kc-text-uppercase kc-wrapper-container-full-full">{% trans 'msg.period.works' %}, {{ data.title }}</div>
        <spacer class="kc-wrapper-container-full-full kc-margin-bottom-100-40"></spacer>
    
    {% else %}

        <div class="kc-wrapper-container-full-full kc-margin-bottom-100-40"> </div>
        <div class="kc-wrapper-container-full-full kc-separator-wide"> </div>
        <div class="kc-wrapper-container-full-full kc-margin-bottom-100-40"> </div>

    {% endif %}

    {% include "items/artwork_grid.html" with artworks=data.artworks.all %}


{% endif %}

{% endblock %}