{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

    <div class="kc-margin-top-150-40 kc-text-53-24 kc-wrapper-container-full-full kc-text-uppercase">
        {% trans "msg.press.press" %}
    </div>

    {% if not is_mobile %}

        <div class="kc-margin-bottom-100-40 kc-wrapper-container-full-full"></div>

    {% endif %}

    {% for item in data %}

        {% if is_mobile %}
        {% else %}

            <div class="kc-separator kc-wrapper-container-full-full"></div>

        {% endif %}

        {% include "items/press_item.html" with data=item %}

        {% if is_mobile and not forloop.last %}

        <div class="kc-separator-wide kc-wrapper-container-full-full"></div>

        {% endif %}

    {% endfor %}

{% endblock %}