{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

    <div class="kc-page-header">
        {% trans "msg.publications.header" %}
    </div>

    {% if is_mobile %}

        <div class="publication-item kc-container-grid">

            <div class="publication-item-image-content">
                <img src="{% static 'common/assets/own-item.JPG' %}" alt="Flow Event Image" class="publication-item-image">
            </div>

            <div class="publication-item-text-content">

                <div class="publication-item-text-name kc-text-53-15 kc-text-uppercase">
                    путеводитель выставки “Двадцать один длинный, один короткий”
                </div>

                <div class="publication-item-text-description kc-text-21-15 kc-text-primary">
                    ISBN 978-5-9078873-2-9
                </div>

                <div class="publication-item-text-description kc-text-21-15 kc-text-primary">
                    Редактор: Галина Шубина
                </div>

                <div class="publication-item-text-description kc-text-21-15 kc-text-primary">
                    Тексты аннотаций: Анастасия Даргис, Александр Журавлёв, Екатерина Литвинова, Галина Шубина и авторы
                </div>

                <div class="publication-item-text-description kc-text-21-15">
                    Дизайн: Вадим Лебедев
                </div>

                <div class="publication-item-text-link kc-text-21-15 kc-text-primary">
                    скачать pdf (0МБ)
                </div>

            </div>

        </div>
    
    {% else %}

        <div class="publication-item kc-container-grid">

            <div class="publication-item-image-content">
                <img src="{% static 'common/assets/own-item.JPG' %}" alt="Flow Event Image" class="publication-item-image">
            </div>

            <div class="publication-item-text-content">

                <div class="publication-item-text-name kc-text-53-15 kc-text-uppercase">
                    путеводитель выставки “Двадцать один длинный, один короткий”
                </div>

                <div class="publication-item-text-description kc-text-uppercase kc-text-21-15 kc-text-primary">
                    ISBN 978-5-9078873-2-9
                </div>

                <div class="publication-item-text-description kc-text-uppercase kc-text-21-15 kc-text-primary">
                    Редактор: Галина Шубина
                </div>

                <div class="publication-item-text-description kc-text-uppercase kc-text-21-15 kc-text-primary">
                    Тексты аннотаций: Анастасия Даргис, Александр Журавлёв, Екатерина Литвинова, Галина Шубина и авторы
                </div>

                <div class="publication-item-text-description kc-text-uppercase kc-text-21-15">
                    Дизайн: Вадим Лебедев
                </div>

                <div class="publication-item-text-link kc-text-uppercase kc-text-21-15 kc-text-primary">
                    скачать pdf (0МБ)
                </div>

            </div>

        </div>

    {% endif %}




    

    {% comment %} <div class="kc-separator kc-wrapper-container-full-full"> </div> {% endcomment %}

    {% comment %} <div class="publication-item kc-container-grid">

        <div class="publication-item-image-content">
            <img src="{% static 'common/assets/own-item.JPG' %}" alt="Flow Event Image" class="publication-item-image">
        </div>

        <div class="publication-item-text-content">

            <div class="publication-item-text-name kc-text-53-15 kc-text-uppercase">
                путеводитель выставки “Двадцать один длинный, один короткий”
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15 kc-text-primary">
                ISBN 978-5-9078873-2-9
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15 kc-text-primary">
                Тексты аннотаций: Анастасия Даргис, Александр Журавлёв, Екатерина Литвинова, Галина Шубина и авторы
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15 kc-text-primary">
                Редактор Галина Шубина
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15">
                Корректор Юлия Козлова
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15">
                Дизайн, верстка Вадим Лебедев
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15">
                Фотографы: Александр Гронский, Любовь Кабалинова
            </div>

            <div class="publication-item-text-link kc-text-uppercase kc-text-21-15 kc-text-primary">
                скачать pdf (0МБ)
            </div>

        </div>

    </div> {% endcomment %}
{% comment %} 
    <div class="kc-separator-wide kc-wrapper-container-full-full"> </div>

    <div class="publication-item kc-container-grid">

        <div class="publication-item-image-content">
            <img src="{% static 'common/assets/own-item.JPG' %}" alt="Flow Event Image" class="publication-item-image">
        </div>

        <div class="publication-item-text-content">

            <div class="publication-item-text-name kc-text-53-15 kc-text-uppercase">
                путеводитель выставки “Двадцать один длинный, один короткий”
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15 kc-text-primary">
                ISBN 978-5-9078873-2-9
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15 kc-text-primary">
                Тексты аннотаций: Анастасия Даргис, Александр Журавлёв, Екатерина Литвинова, Галина Шубина и авторы
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15 kc-text-primary">
                Редактор Галина Шубина
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15">
                Корректор Юлия Козлова
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15">
                Дизайн, верстка Вадим Лебедев
            </div>

            <div class="publication-item-text-description kc-text-uppercase kc-text-21-15">
                Фотографы: Александр Гронский, Любовь Кабалинова
            </div>

            <div class="publication-item-text-link kc-text-uppercase kc-text-21-15 kc-text-primary">
                скачать pdf (0МБ)
            </div>

        </div>

    </div> {% endcomment %}

{% endblock %}