{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

    {% if is_mobile %}


    
    {% else %}



    {% endif %}

    <div class="kc-margin-top-150-40 kc-margin-bottom-100-40 kc-text-53-24 kc-wrapper-container-full-full kc-text-uppercase">
        Издания
    </div>

    <div class="kc-margin-top-150-40 kc-margin-bottom-150-60 kc-text-27-15 kc-wrapper-container-full-full">

    </div>

    <div class="kc-margin-top-150-40 kc-margin-bottom-150-60 kc-text-27-15 kc-wrapper-container-full-full">

    </div>


{% endblock %}