{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

{% if is_mobile %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let headerText = document.querySelector(".kc-header-text");
            if (headerText) {
                headerText.textContent = "{% trans "msg.mobile_header.collection_routes" %}";

                //if (headerText.tagName === "A") {
                //    headerText.href = "https://example.com";
                //}
            }
        });
    </script>

    <div class="kc-wrapper-container-full-full kc-margin-top-100-40"> </div>

    <div class="kc-wrapper-container-full-full">
        {% for route in data %}
            {% include "items/route_item.html" with route=route is_last=forloop.last %}
        {% endfor %}
    </div>

    <div class="" style="margin-top: -10px;"></div>

{% else %}

    {% include 'items/navigator.html' %}

    <div class="kc-wrapper-container-full-full kc-margin-top-100-40"> </div>

    <div class="kc-wrapper-container-full-full">
        {% for route in data %}
            {% include "items/route_item.html" with route=route is_last=forloop.last %}
        {% endfor %}
    </div>

    <div class="" style="margin-top: -10px;"></div>

{% endif %}

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}