{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ data.title }}{% endblock %}

{% block content %}

    {% if is_mobile %}

        {% comment %} <div class="kc-wrapper-image kc-wrapper-container-full-full kc-margin-top-100-40 kc-margin-bottom-100-40">
            <img src="{% static 'common/assets/team-header.png' %}" alt="Фото команды" style="width:100%; height: auto;">
        </div> {% endcomment %}

        <div class="kc-wrapper-container-full-full kc-margin-bottom-100-40"></div>

        <div class="employee-image-1">
            <img src="{% static 'common/assets/team-decor-1.svg' %}" alt="Decor" class="employee-descripstion-image">
        </div>

        <div class="employee-descripstion-1">
            <div class="kc-text-21-18">
                {% trans "msg.team.text1" %}
            </div>
        </div>

        <div class="employee-image-1">
            <img src="{% static 'common/assets/team-decor-2.svg' %}" alt="Decor" class="employee-descripstion-image">
        </div>
        <div class="employee-descripstion-2">
            <div class="kc-text-21-18">
                {% trans "msg.team.text2" %}
            </div>
        </div>
            

        <div class="employee-image-1">
            <img src="{% static 'common/assets/team-decor-3.svg' %}" alt="Decor" class="employee-descripstion-image">
        </div>

        <div class="employee-descripstion-3">
            <div class="kc-text-21-18">
                {% trans "msg.team.text3" %}
            </div>
        </div>

        <div class="kc-separator-wide kc-wrapper-container-full-full"></div>
        <div class="kc-wrapper-container-full-full kc-margin-bottom-100-40"></div>
    
    {% else %}

        <div class="kc-wrapper-image kc-wrapper-container-full-full kc-margin-top-100-40 kc-margin-bottom-100-40">
            <img src="{% static 'common/assets/team-header.png' %}" alt="Фото команды" style="width:100%; height: auto;">
        </div>

        <div class="employee-image-1">
            <img src="{% static 'common/assets/team-decor-1.svg' %}" alt="Decor" class="employee-descripstion-image">
        </div>

        <div class="employee-descripstion-1">
            <div class=" kc-text-21-15 ">
                {% trans "msg.team.text1" %}
            </div>
        </div>

        <div class="employee-image-1">
            <img src="{% static 'common/assets/team-decor-2.svg' %}" alt="Decor" class="employee-descripstion-image">
        </div>
        <div class="employee-descripstion-2">
            <div class=" kc-text-21-15 ">
                {% trans "msg.team.text2" %}
            </div>
        </div>
            

        <div class="employee-image-1">
            <img src="{% static 'common/assets/team-decor-3.svg' %}" alt="Decor" class="employee-descripstion-image">
        </div>

        <div class="employee-descripstion-3">
            <div class=" kc-text-21-15">
                {% trans "msg.team.text3" %}
            </div>
        </div>


    {% endif %}


    {% for item in data %}
    
        {% include "items/employee_item.html" with data=item %}
        
        {% if not forloop.counter|divisibleby:3%}
            <div class="kc-empty-space"></div>
        {% endif %}
        
    {% endfor %}
    

{% endblock %}