{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

    {% if is_mobile %}


    
    {% else %}



    {% endif %}

    <div class="kc-margin-top-150-40 kc-margin-bottom-150-60 kc-text-27-15 kc-wrapper-container-full-full">
        Коллекция — это результат тщательного отбора произведений, каждое из которых отвечает нашим представлениям об истории русского искусства ХХ-XXI веков, как о непрерывном процессе, отражающем противоречивый характер этого периода и являющемся неотъемлемой частью мировой художественной культуры. Нонконформизм и современное российское искусство, наследующие открытия авангарда, демонстрируют непостижимую природу и силу творческого импульса, способного преодолевать официальные запреты и идеологические доктрины
    </div>
    <div class="kc-margin-top-150-40 kc-margin-bottom-150-60 kc-text-27-15 kc-wrapper-container-full-full">
        Наша любовь к произведению начинается с любви к художнику и с интереса к его творческому методу. Нам важны не только работы, обладающие очевидной культурной, экспозиционной и материальной ценностью, но и артефакты индивидуальной траектории развития автора: эскизные материалы, архив художника, фото- и видео-документация. Осознавая ответственность, которую накладывает владение произведениями, мы видим свою задачу в обеспечении своевременной реставрации и поддержании музейных условий хранения. Мы привлекаем к сотрудничеству искусствоведов, кураторов и других специалистов для всестороннего изучения, описания и грамотного экспонирования произведений
    </div>
    <div class="kc-margin-top-150-40 kc-margin-bottom-150-60 kc-text-27-15 kc-wrapper-container-full-full">
        Наша деятельность всегда направлена на утверждение ценности и неприкосновенности свободного творческого высказывания, выступающих залогом сохранения правдивой картины текущего исторического момента. Непременным условием существования независимого искусства является поддержка актуального художественного процесса, основывающаяся на личной вовлеченности, понимании проблематики современного искусства, а также развитии зрительского опыта и художественного вкуса
    </div>

    {% for item in data %}
        {% include "items/employee_item.html" with data=item %}
        <div class="kc-wrapper-container-one-null kc-utils-remove-fisrt-in-grid-hide"></div>
    {% endfor %}

{% endblock %}