{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ data.title }}{% endblock %}

{% block content %}

    {% if is_mobile %}

    <div class="kc-margin-top-150-40 kc-wrapper-container-full-full"></div>

    <div class="employee-image kc-wrapper-container-half-half">
        <img src="{% static 'common/assets/team-decor-1.svg' %}" alt="Decor">
    </div>
    <div class="kc-wrapper-container-half-half employee-padding-left">
        <div class=" kc-text-27-15 employee-text-parent-1">
            Коллекция — это результат тщательного отбора произведений, каждое из которых отвечает нашим представлениям 
        </div>
    </div>
    <div class="kc-wrapper-container-full-full">
        <div class=" kc-text-27-15 ">
            об истории русского искусства ХХ-XXI веков, как о непрерывном процессе, отражающем противоречивый характер этого периода и являющемся неотъемлемой частью мировой художественной культуры. Нонконформизм и современное российское искусство, наследующие открытия авангарда, демонстрируют непостижимую природу и силу творческого импульса, способного преодолевать официальные запреты и идеологические доктрины
        </div>
    </div>

    <div class="kc-margin-top-150-40 kc-wrapper-container-full-full"></div>

    <div class="kc-wrapper-container-half-half employee-padding-right">
        <div class=" kc-text-27-15 employee-text-parent-1">
            Наша любовь к произведению начинается с любви к художнику и с интереса к его творческому методу.         </div>
    </div>

    <div class="employee-image-1 kc-wrapper-container-half-half">
        <img src="{% static 'common/assets/team-decor-2.svg' %}" alt="Decor">
    </div>

    <div class="kc-wrapper-container-full-full">
        <div class=" kc-text-27-15 employee-text-parent-1">
            Нам важны не только работы, обладающие очевидной культурной, экспозиционной и материальной ценностью, но и артефакты индивидуальной траектории развития автора: эскизные материалы, архив художника, фото- и видео-документация. Осознавая ответственность, которую накладывает владение произведениями, мы видим свою задачу в обеспечении своевременной реставрации и поддержании музейных условий хранения. Мы привлекаем к сотрудничеству искусствоведов, кураторов и других специалистов для всестороннего изучения, описания и грамотного экспонирования произведений
        </div>
    </div>

    <div class="kc-margin-top-150-40 kc-wrapper-container-full-full"></div>

    <div class="employee-image-1">
        <img class="employee-image-left" src="{% static 'common/assets/team-decor-3.svg' %}" alt="Decor">
    </div>
    <div class="kc-wrapper-container-half-half employee-padding-left ">
        <div class=" kc-text-27-15 employee-text-parent-1">
            Наша деятельность всегда направлена на утверждение ценности и неприкосновенности свободного
        </div>
    </div>
    <div class="kc-wrapper-container-full-full">
        <div class=" kc-text-27-15 ">
            творческого высказывания, выступающих залогом сохранения правдивой картины текущего исторического момента. Непременным условием существования независимого искусства является поддержка актуального художественного процесса, основывающаяся на личной вовлеченности, понимании проблематики современного искусства, а также развитии зрительского опыта и художественного вкуса
        </div>
    </div>

    <div class="kc-margin-bottom-150-60 kc-wrapper-container-full-full"></div>
    
    {% else %}



    <div class="kc-margin-top-150-40 kc-margin-bottom-150-60 kc-wrapper-container-full-full kc-container-grid">
        <div class="employee-spacer-3"></div>
        <div class="employee-image-1">
            <img src="{% static 'common/assets/header-decor-right.svg' %}" alt="Decor">
        </div>
        <div class="employee-spacer-1"></div>
        <div class="employee-descripstion-1">
            <div class=" kc-text-27-15 ">
                Коллекция — это результат тщательного отбора произведений, каждое из которых отвечает нашим представлениям об истории русского искусства ХХ-XXI веков, как о непрерывном процессе, отражающем противоречивый характер этого периода и являющемся неотъемлемой частью мировой художественной культуры. Нонконформизм и современное российское искусство, наследующие открытия авангарда, демонстрируют непостижимую природу и силу творческого импульса, способного преодолевать официальные запреты и идеологические доктрины
            </div>
        </div>
    </div>
    <div class="kc-margin-top-150-40 kc-margin-bottom-150-60 kc-wrapper-container-full-full kc-container-grid">
        <div class="employee-descripstion-2">
            <div class=" kc-text-27-15 ">
                Наша любовь к произведению начинается с любви к художнику и с интереса к его творческому методу. Нам важны не только работы, обладающие очевидной культурной, экспозиционной и материальной ценностью, но и артефакты индивидуальной траектории развития автора: эскизные материалы, архив художника, фото- и видео-документация. Осознавая ответственность, которую накладывает владение произведениями, мы видим свою задачу в обеспечении своевременной реставрации и поддержании музейных условий хранения. Мы привлекаем к сотрудничеству искусствоведов, кураторов и других специалистов для всестороннего изучения, описания и грамотного экспонирования произведений
            </div>
        </div>
        <div class="employee-spacer-1"></div>
        <div class="employee-image-1">
            <img src="{% static 'common/assets/header-decor-right.svg' %}" alt="Decor">
        </div>
        <div class="employee-spacer-2"></div>
    </div>
    <div class="kc-margin-top-150-40 kc-margin-bottom-150-60 kc-wrapper-container-full-full kc-container-grid kc-container-grid">
        <div class="employee-image-1">
            <img src="{% static 'common/assets/header-decor-right.svg' %}" alt="Decor">
        </div>
        <div class="employee-spacer-1"></div>
        <div class="employee-descripstion-3">
            <div class=" kc-text-27-15 ">
                Наша деятельность всегда направлена на утверждение ценности и неприкосновенности свободного творческого высказывания, выступающих залогом сохранения правдивой картины текущего исторического момента. Непременным условием существования независимого искусства является поддержка актуального художественного процесса, основывающаяся на личной вовлеченности, понимании проблематики современного искусства, а также развитии зрительского опыта и художественного вкуса
            </div>
        </div>
    </div>

    {% endif %}


    {% for item in data %}
        {% include "items/employee_item.html" with data=item %}
        <div class="kc-wrapper-container-one-null kc-utils-remove-fisrt-in-grid-hide"></div>
    {% endfor %}
    

{% endblock %}