{% load static %}
{% load i18n %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Скрытие заголовка
        let header = document.querySelector(".kc-header");
        if (header) {
            header.style.display = "none";
        }

        // Установка padding-bottom для элемента с id="header-spacer"
        let spacer = document.getElementById("header-spacer");
        if (spacer) {
            spacer.style.paddingBottom = "40px";
        }
    });
</script>

<a class="id-artwork-close-button" href="#" onclick="window.history.back(); return false;">
    <div class="id-artwork-close-button-img">
        <img src="{% static 'common/assets/close-button.svg' %}" alt="Logo" class="id-artwork-close-button-img">
    </div>
</a>

<div class="kc-wrapper-container-full-full kc-margin-bottom-100-40">
    <div class="kc-wrapper-container-full-full kc-text-wrapper kc-text-24"><i>{{ data.title }}</i></div>
    {% if data.series %}
        <spacer style="height: 7px; display: inline-block;"></spacer> 

        <div class="kc-wrapper-container-full-full kc-text-wrapper kc-text-24">{{ data.series }}</div>
    {% endif %}
</div>

<div class="kc-wrapper-container-full-full kc-mobile-slider-wrapper-container kc-mobile-slider-margin-bottom">
    {% if data.artwork_images.all %}
        <div class="kc-mobile-slider">
            {% for image in data.artwork_images.all %}
                <div class="kc-mobile-slider-slide">
                    <img src="{{ image.image.url }}" alt="Artwork Image" class="kc-mobile-slider-slide-img"
                    {% if data.artwork_images.all %}
                        onclick="openModal(
                            [{% for p in data.artwork_images.all %}'{{ p.image.url }}'{% if not forloop.last %}, {% endif %}{% endfor %}], 
                            0,
                            true
                        )"
                    {% else%}
                        onclick="openModal(
                            ['{{ data.main_image.url }}'], 
                            0,
                            true
                        )"
                    {% endif %}
                >
                </div>
            {% endfor %}
        </div>
        <div class="kc-mobile-slider-dots">
            {% for image in data.artwork_images.all %}
                <span class="kc-mobile-slider-dot" data-index="{{ forloop.counter0 }}"></span>
            {% endfor %}
        </div>
    {% else %}
        <div class="kc-mobile-slider-slide">
            <img src="{{ data.main_image.url }}" alt="Artwork Image" class="kc-mobile-slider-slide-img">
        </div>
    {% endif %}

    
</div>

<link rel="stylesheet" href="{% static 'common/css/items/artwork-image-slides.css' %}">
<script src="{% static 'common/js/mobile-slider.js' %}"></script>

<div class="td-artwork-info kc-wrapper-container-full-full">

    <div class="td-artwork-info-name kc-text-17-9 kc-text-primary">{% trans 'msg.artwork.author' %}</div>
    <div class="td-artwork-info-value kc-text-15 kc-text-uppercase">
        <a href="{% url 'artist_detail' data.artist.id %}" class="kc-link-decoration">{{ data.artist.name }}</a>
    </div>

    <div class="td-artwork-info-name kc-text-17-9 kc-text-primary">{% trans 'msg.artwork.year' %}</div>
    <div class="td-artwork-info-value kc-text-15 kc-text-uppercase">{{ data.year }}</div>

    <div class="td-artwork-info-name kc-text-17-9 kc-text-primary">{% trans 'msg.artwork.technique' %}</div>
    <div class="td-artwork-info-value kc-text-15 kc-text-uppercase">{{ data.technique }}</div>
    
    <div class="td-artwork-info-name kc-text-17-9 kc-text-primary">{% trans 'msg.artwork.size' %}</div>
    <div class="td-artwork-info-value kc-text-15 kc-text-uppercase">{{ data.size }}</div>

    <div class="td-artwork-info-name kc-text-17-9 kc-text-primary">{% trans 'msg.artwork.cipher' %}</div>
    <div class="td-artwork-info-value kc-text-15 kc-text-uppercase">{{ data.cipher }}</div>
    
    {% if data.publicprovenanceations %}
        <div class="td-artwork-info-name kc-text-17-9 kc-text-primary">{% trans 'msg.artwork.provenance' %}</div>
        <div class="td-artwork-info-value kc-text-15 kc-text-uppercase kc-link-decoration-inline">{{ data.provenance|safe }}</div>
    {% endif %}

    {% if data.exhibitions %}
        <div class="td-artwork-info-name kc-text-17-9 kc-text-primary">{% trans 'msg.artwork.exhibitions' %}</div>
        <div class="td-artwork-info-value kc-text-15 kc-text-uppercase kc-link-decoration-inline">{{ data.exhibitions|safe }}</div>
    {% endif %}

    {% if data.publications %}
        <div class="td-artwork-info-name kc-text-17-9 kc-text-primary">{% trans 'msg.artwork.publications' %}</div>
        <div class="td-artwork-info-value kc-text-15 kc-text-uppercase kc-link-decoration-inline">{{ data.publications|safe }}</div>
    {% endif %}

</div>

<div class="kc-wrapper-container-full-full kc-margin-bottom-100-40"></div>

<div class="kc-wrapper-container-full-full kc-text-21-18">{{ data.description }}</div>

<div class="kc-wrapper-container-full-full kc-margin-bottom-100-40"></div>