{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

    {% if is_mobile %}


    
    {% else %}



    {% endif %}

    <div class="kc-margin-top-150-40 kc-margin-bottom-150-60 kc-text-27-15 kc-wrapper-container-full-full">
        
    </div>

    <div class="kc-margin-top-150-40 kc-margin-bottom-150-60 kc-text-27-15 kc-wrapper-container-full-full">

    </div>

    <div class="kc-margin-top-150-40 kc-margin-bottom-150-60 kc-text-27-15 kc-wrapper-container-full-full">

    </div>

    {% for item in data %}
        {% include "items/employee_item.html" with data=item %}
        <div class="kc-wrapper-container-one-null kc-utils-remove-fisrt-in-grid-hide"></div>
    {% endfor %}

{% endblock %}