.kc-separator {
    width: 100%;
    height: 1px;
    background-color: #000; /* Цвет линии */
}

.kc-separator-wide {
    width: 115%; /* Ширина больше 100% */
    height: 1px;
    background-color: #000; /* Цвет линии */
    margin-left: -10%; /* Сдвиг влево для компенсации */
    margin-right: -10%; /* Сдвиг вправо для компенсации */
    overflow: hidden;
}

.kc-image-wrapper{
    width: 100%; /* Растягивает изображение по ширине родителя */
    height: auto; /* Сохраняет пропорции */
    display: block;
}

.kc-spacer-main{
    height: 150px;
    min-height: 150px;
    max-height: 150px;
}

.kc-spacer-regular{
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}

.kc-spacer-cut{
    height: 255px;
    min-height: 255px;
    background-color: #1E8DD3;
}

.kc-spacer-medium{
    height: 78px;
}

.kc-spacer-small{
    height: 60px;
    min-height: 60px;
}

.kc-spacer-tiny{
    height: 30px;
    min-height: 30px;
    max-height: 30px;
}

@media (max-width: 768px) {
    .kc-spacer-main{
        height: 40px !important;
        min-height: 40px !important;
        max-height: 40px !important;
    }
    .kc-spacer-regular{
        height: 40px !important;
        min-height: 40px !important;
        max-height: 40px !important;
    }
}
