.kc-separator {
    width: 100%;
    height: 1px;
    background-color: #000; /* Цвет линии */
}

.kc-separator-wide {
    width: 115%; /* Ширина больше 100% */
    height: 1px;
    background-color: #000; /* Цвет линии */
    margin-left: -10%; /* Сдвиг влево для компенсации */
    margin-right: -10%; /* Сдвиг вправо для компенсации */
}

.kc-image-wrapper{
    width: 100%; /* Растягивает изображение по ширине родителя */
    height: auto; /* Сохраняет пропорции */
    display: block;
}

.kc-spacer-main{
    height: 150px;
    min-height: 150px;
    max-height: 150px;

    /* background-color: #5a0606;  */
}

.kc-spacer-regular{
    height: 100px;
    min-height: 100px;
    max-height: 100px;

    /* background-color: #5a0606;  */
}

.kc-spacer-cut{
    height: 255px;
    min-height: 255px;

    /* background-color: #5a0606;  */
}

.kc-spacer-medium{
    height: 78px;

    background-color: #5a0606; 
}

.kc-spacer-small{
    height: 60px;
    min-height: 60px;

    background-color: #5a0606; 
}

.kc-spacer-tiny{
    height: 30px;
    min-height: 30px;
    max-height: 30px;

    background-color: #5a0606; 
}




.kc-margin-top-150-40{
    margin-top: 150px;
}
.kc-margin-top-30-10{
    margin-top: 30px;
}
.kc-margin-bottom-150-40{
    margin-bottom: 150px;
}
.kc-margin-bottom-100-40{
    margin-bottom: 150px;
}
.kc-margin-bottom-30-10{
    margin-bottom: 30px;
}
.kc-margin-bottom-150-60{
    margin-bottom: 150px;
}
.kc-margin-bottom-100-40{
    margin-bottom: 100px;
}
.kc-margin-top-30-0{
    margin-top: 30px;
}



@media (max-width: 768px) {
    .kc-margin-top-150-40{
        margin-top: 40px;
    }
    .kc-margin-bottom-150-40{
        margin-bottom: 50px;
    }
    .kc-margin-bottom-100-40{
        margin-bottom: 40px;
    }
    .kc-margin-top-30-10{
        margin-top: 10px;
    }
    .kc-margin-bottom-30-10{
        margin-bottom: 10px;
    }
    .kc-margin-bottom-150-60{
        margin-bottom: 60px;
    }
    .kc-margin-bottom-100-40{
        margin-bottom: 40px;
    }
    .kc-margin-top-30-0{
        margin-top: 0px;
    }
}
