:root {
    --primary-color: #1E8DD3;

    --black-color: #000;
    --background-color: #ffffff;

    --text-color-black: #000;
    --text-color-gray: #888;
    --text-color-white: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color-black);
}