html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}
/* основа страницы */
.kc-container-window {
    width: 100%;
}
/* основной контейнес с сеткой */
.kc-container-page {
    width: 100%;
    margin: 0 auto;
}
.kc-container-grid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 0px 30px;
}
/* media */
@media (max-width: 768px) {
    .kc-container-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 0px 0px;
    }
}
/* Flexbox fallback */
@supports not (display: grid)
{
    .kc-container-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
