:root {
    --kc-spacing-padding-main: 0px 60px;
}

.kc-spacing-padding-main {
    padding: var(--kc-spacing-padding-main); /* 0px — запасное значение */
}

@media (max-width: 768px) {
    .kc-spacing-padding-main {
        padding: 0% 10px;
    }
}