.kc-utils-remove-fisrt-in-grid-hide {
    display: grid;
}
.kc-utils-remove-fisrt-in-grid-hide:nth-child(7n){
    display: none; /* Скрыть первый элемент в каждой строке */
}

.kc-utils-hide-on-mobile{
    display: inherit;
}
  
@media (max-width: 768px) {
    .kc-utils-remove-fisrt-in-grid-hide{
        display: none; /* Скрыть первый элемент в каждой строке */
    }

    .kc-utils-hide-on-mobile{
        display: none !important; 
    }
}