.kc-wrapper-container-full-full {
    grid-column: span 14;
}
.kc-wrapper-container-half-half {
    grid-column: span 7;
}
.kc-wrapper-container-half-full {
    grid-column: span 7;
}
.kc-wrapper-container-half-one {
    grid-column: span 7;
}
.kc-wrapper-container-half-3 {
    grid-column: span 7;
}
.kc-wrapper-container-full-half {
    grid-column: span 14;
}
.kc-wrapper-container-third-full {
    grid-column: span 4;
}
.kc-wrapper-container-6-full {
    grid-column: span 6;
}
.kc-wrapper-container-one-null {
    grid-column: span 1;
}
.kc-wrapper-container-span2 {
    grid-column: span 2;
}
.kc-wrapper-container-span4 {
    grid-column: span 4;
}
.kc-wrapper-container-span9 {
    grid-column: span 9;
}
.kc-wrapper-container-span7 {
    grid-column: span 7;
}
.kc-wrapper-container-span6{
    grid-column: span 6;
}
.kc-wrapper-container-span9-from6 {
    grid-column: 6 / span 9; /* Начинаем со 2-й колонки и занимаем 9 */
}
.kc-wrapper-container-span4-from8 {
    grid-column: 8 / span 4; /* Начинаем со 2-й колонки и занимаем 9 */
}
.kc-wrapper-container-span5-from1 {
    grid-column: 2 / span 5; /* Начинаем со 2-й колонки и занимаем 9 */
}
.kc-wrapper-container-span7-from7 {
    grid-column: 8 / span 7; /* Начинаем со 2-й колонки и занимаем 9 */
}
.kc-wrapper-container-span6-from7 {
    grid-column: 8 / span 6; /* Начинаем со 2-й колонки и занимаем 9 */
}
.kc-wrapper-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.kc-wrapper-image-square img {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 100%; /* Занимает всю высоту контейнера */
    object-fit: contain; /* Изображение будет покрывать контейнер, сохраняя пропорции */
    display: block; 
}

@media (max-width: 768px) {
    .kc-wrapper-container-full-full {
        grid-column: span 4;
    }
    .kc-wrapper-container-half-half {
        grid-column: span 2;
    }
    .kc-wrapper-container-half-full {
        grid-column: span 4;
    }
    .kc-wrapper-container-full-half {
        grid-column: span 2;
    }
    .kc-wrapper-container-third-full {
        grid-column: span 4;
    }
    .kc-wrapper-container-one-null {
        grid-column: span 0;
    }
    .kc-wrapper-container-6-full {
        grid-column: span 4;
    }
    .kc-wrapper-container-half-one {
        grid-column: span 1;
    }
    .kc-wrapper-container-half-3 {
        grid-column: span 3;
    }
}