.article-back-arrow-content{

    grid-column: 1;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.article-back-button {
    height: 100%;
}
.article-title{
    grid-column: span 13;
}
.article-line-content{
    height: 31px;
    grid-column: 1;

    display: flex;
    flex-direction: row;
    align-content: center;



    margin-left: -100px;
}
.article-line{
    background-color: rgb(255, 0, 0);
    height: 6px;
    width: 100px;
    align-self: center;
}
.article-circle{
    background-color: rgb(255, 0, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    align-self: center;
}
.article-description{
    grid-column: span 13;
}
.article-text{
    grid-column: span 8;
}
.article-items-content{
    grid-column: span 4;
}