.artworks-grid {
    display: flex;
    justify-content: space-between;
    gap: 150px; /* Отступ между колонками */
}

.artwork-column {
    flex: 1; /* Каждая колонка будет занимать одинаковое пространство */
    display: flex;
    flex-direction: column;
}

.artwork-item {
    margin-bottom: 20px; /* Отступ между работами */
}

.artwork-image {
    width: 100%;
    height: auto;
    object-fit: contain; /* Сохраняем соотношение сторон */
}

.artwork-text {
    margin-top: 10px;
}
