.employee-item {
    padding-bottom: 30px;
    background: #ffffff;
    margin-bottom: 100px;
}

.employee-item-photo {
    height: 483px;
    max-width: 100%;
    margin-bottom: 30px;
    object-fit: cover;
}

.employee-item-text-name{
    margin-bottom: 30px !important;
}
.employee-item-text-job{
    margin-bottom: 100px !important;
}

.employee-descripstion-1{
    grid-column: span 8;
}
.employee-descripstion-2{
    grid-column: span 9;
}
.employee-descripstion-3{
    grid-column: span 10;
}

.employee-spacer-3{
    grid-column: span 3;
}

.employee-spacer-2{
    grid-column: span 2;
}


.employee-spacer-1{
    grid-column: span 1;
}

.employee-image-1{
    width: 100%;
    height: 100%;

    object-fit: cover;

    grid-column: span 2;
}

.employee-image{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.employee-padding-right{
    padding-right: 10px;
}

.employee-padding-left{
    padding-left: 10px;
}

.employee-text-parent-1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; /* left | center | right */
}

.employee-image-left {
    transform: translateX(-20px); /* Смещаем влево */
}

@media (max-width: 768px) {
    .employee-item-photo {
        height: 348px !important;
        max-height: 348px;
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .employee-item-text-name{
        margin-bottom: 10px !important;
    }
    .employee-item-text-job{
        margin-bottom: 40px !important;
    }
    
}