.exhibition-item{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}
.exhibition-item-image-content {
    min-width: 100px;
    height: 521px;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}
.exhibition-item-image-content-part {
    aspect-ratio: 1 / 1;
    width: 362px;
    width: auto;
    overflow: hidden;
    display: flex;
    align-items: flex-start; 
}
.exhibition-item-image {
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполняем квадратное пространство без искажений */
}
.exhibition-item-text-content{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px 30px;
    
    height: 100px;
}
.exhibition-item-text-name{
    grid-column: span 7;
    
    height: auto;

    display: inline-block;
}
.exhibition-item-text-description{
    margin-top: 50px;
    grid-column: 3 / span 3;
}
@media (max-width: 768px) {
    .exhibition-item{
        width: 100%;
        height: 523px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}