.flow-event {
    padding-bottom: 30px;
    background: #ffffff;
    margin-bottom: 100px;
}

.flow-event-photo {
    margin-bottom: 10px;
    object-fit: cover;

    width: 100%;
    aspect-ratio: 1 / 1;
}

.flow-event-text {
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .flow-event-photo {
        margin-bottom: 10px;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
    .flow-event-text {
        margin-bottom: 40px;
    }
}