.flow-event {
    padding-bottom: 30px;
    background: #ffffff;
    margin-bottom: 100px;
}

.flow-event-photo {
    height: 483px;
    max-width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
}

.flow-event-text {
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .flow-event-photo {
        height: 348px !important;
        max-height: 348px;
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
        object-fit: cover;
    }
    .flow-event-text {
        margin-bottom: 40px;
    }
}