.kc-footer {
    text-align: left;
    background-color: white;
    z-index: 999;
}

.kc-footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 0px 30px;
    align-items: center;
    font-size: 27px !important;
    line-height: 120% !important;
}

.kc-footer-logo {
    grid-column: span 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.kc-footer-logo img {
    /*! width: 100%; */
    height: 100%;
    object-fit: contain;
}

.kc-footer-info {
    grid-column: span 1;

    font-size: 26px !important;
    text-align: left !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 120% !important;

    margin-top: -6px;
    margin-bottom: -6px;
    
    color: #888 !important;
}


.kc-footer-info strong {
    color: #000;
    text-decoration: none;
    font-weight: 400;
}

@media (max-width: 768px) {
    .kc-footer-container {
        grid-template-columns: repeat(4, 1fr); 
        gap: 0px 10px; 
        align-items: center !important;
        font-size: 27px !important;
        line-height: 120% !important;

        height: 100px !important;
        min-height: 100px !important;
        max-height: 100px !important;
    }

    .kc-footer-logo{
        grid-column: span 1;
        width: 50%;

        align-items: center !important;
    }

    .kc-footer-logo img{
        width: 100%;
        height: auto;
    }

    .kc-footer-info{
        grid-column: span 3;
        font-size: 9px !important;
    }
}