.null-period-content{
    grid-column: span 14;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    width: 100%;
    height: 50vh;
}
.null-period-decor{
    position: relative;
    
    height: 230px;
    width: 500px;
}

.null-period-decor-img{
    width: 100%;
    height: 100%;
    position: relative;
}

.null-period-content-text{
    position: absolute;
    
    width: 100%;
    top: 50%;
    
    color: black;
    text-align: center;
}

@media (max-width: 600px) {
    .null-period-content{
        grid-column: span 4;
    }
    .null-period-decor{
        position: relative;
        
        height: 150px;
        width: 300px;
    }
}