/* .period-context {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-bottom: 100px;
} */
.period-context {
    grid-column: span 14;
    display: flex;
    gap: 100px; /* отступы между элементами */
    flex-direction: column;
    /* margin-bottom: 100px; */
}

.period-item-containers-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    grid-column: span 14;
}

.period-item-containers-row-center {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    grid-column: span 14;
}

.period-item-container {
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */
    height: 100px;
}

.full-width {
    grid-column: span 6; /* элемент занимает 1 колонку */
}

.half-width {
    grid-column: span 3; /* элемент занимает 2 колонки */
}


@media (max-width: 600px) {
    .period-context {
        grid-template-columns: repeat(2, 1fr);
    }
    .period-item {
        grid-column: span 2;
    }
    .period-context {
        gap: 40px;
    }    
}