.period-context {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    text-align: center;
    width: 100%;
}
.period-item {
    margin-bottom: 50px;
}
.faded {
    color: lightgray;
}
.highlighted {
    color: blue;
}
@media (max-width: 600px) {
    .period-context {
        grid-template-columns: repeat(2, 1fr);
    }
    .period-item {
        grid-column: span 2;
    }
}