.route-image-slider {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;

    grid-column: span 14;

    margin-bottom: 100px;
}

.second-preview{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.slider-main {
    display: flex;
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
    gap: 30px;
}

.slide {
    flex: 1;
    display: none;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.slide.active {
    display: flex;
}

.slide-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider-thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    gap: 30px;
}

.thumbnail {
    width: auto;
    height: 150px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.thumbnail.active {
    opacity: 1;
    border: 2px solid var(--primary-color);
}

.slider-nav {
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: end;
    
    gap: 30px;
}

.slider-nav button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.slider-dots {
    display: none;
    text-align: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background: #333;
}

.prev{
    object-fit: cover;

    width: 50px;
    height: 50px;
}
.next{
    object-fit: cover;

    width: 50px;
    height: 50px;
}

/* Адаптация под мобильные устройства */
@media (max-width: 600px) {
    .slider-thumbnails {
        display: none;
    }

    .slider-dots {
        display: block;
    }
    .slide {
        flex: 0 0 100%;
    }
}
