.video-icon-menu{
    position: relative;
    top: -12.2px;
    width: 30px;
    height: 20px;
}
.video-icon-white{
    position: relative;
    top: -8px;
    width: 30px;
    height: 20px;
}
.video-icon-regular{
    position: relative;
    top: -12.2px;
    width: 30px;
    height: 20px;
}

@media (max-width: 768px) {
    .video-icon-menu{
        position: relative;
        top: -12px;
        width: 16px;
        height: 11px;
    }
    .video-icon-white{
        position: relative;
        top: -12px;
        width: 16px;
        height: 11px;
    }
    .video-icon-regular{
        position: relative;
        top: -12px;
        width: 16px;
        height: 11px;
    }
    
}