.td-artwork-info{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 12 равных колонок */
    gap: 20px 30px;
}

.td-artwork-info-title{
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 12 равных колонок */
    gap: 0px 30px;
}

.td-artwork-info-title-name{
    grid-column: span 6;
}


.td-artwork-info-name{
    grid-column: span 2;
}

.td-artwork-info-value{
    grid-column: span 4;
}

.id-artwork-close-button{
    position: absolute;
    top: 70px;
    right: 10px;
    
    width: 30px;
    height: 30px;
    
    display: flex;
    align-content: end;
    align-items: start;
    justify-content: end;

}

.id-artwork-close-button-img{
    width: 17px;
    height: 17px;
    
    align-self: start;
    justify-self: end;
    object-fit: fill;
}

.td-artwork-main-image-content {
    /*! max-height: 880px; */ /* Ограничение по высоте контейнера */
    width: 100%; /* Растягивание контейнера */
    height: 100%; /* Заполнение высоты */
    display: flex; /* Центрирование изображения */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Выравнивание изображения влево */
    overflow: hidden; /* Обрезка лишнего */
    object-position: left center;
}

.td-artwork-main-image {
    max-height: 750px; /* Максимальная высота */
    max-width: 100%; /* Максимальная ширина контейнера */
    width: auto; /* Сохранение пропорций */
    height: auto; /* Сохранение пропорций */
    align-self: self-start;
    object-fit: cover; /* Заполняет контейнер, сохраняя пропорции */
    object-position: left center; /* Выравнивание по левому краю */
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.td-artwork-arrows-content {
    grid-column: 1;
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.id-artwork-arrow {
    width: 19px;
    height: 100%;
    display: flex;
    
    align-content: center;
    align-items: center;
    
}

.id-artwork-arrow a {
    width: 30px;
    height: 100%;
    display: flex;
    
    align-content: center;
    align-items: center;
    
}

.id-artwork-arrow-img {
    width: 100%;  /* Размер стрелки (можно настроить по вашему усмотрению) */
    height: 100%;
    object-fit: fill;
    object-position: center;
}

.id-artwork-arrow-img.disabled {
    opacity: 0.5; /* Сделать стрелку полупрозрачной */
    pointer-events: none; /* Отключить кликабельность */
}

.td-gallery-wrapper{
    width: 100%;
    display: flex;

    overflow: hidden;
}

.td-image-gallery {
    display: flex;
    flex-wrap: wrap; /* Перенос строк */
    gap: 33px; /* Отступы между изображениями */
    /*! max-width: 502px; */ /* 3 колонки по 150px + 2 отступа (26px) */

    justify-self: start;
    justify-content: start; /* Центрирование строк */
}

.td-image-preview {
    width: 100px;
    height: 100px;
}

.td-image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active-thumbnail {
    border: 4px solid var(--primary-color);
}

.thumbnail {
    cursor: pointer;
    transition: border 0s ease;
}


@media (max-width: 768px) {
    .td-artwork-info{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 0px;
    }

    .td-artwork-info-name{
        grid-column: span 1; /* Полная ширина */
    }
    .td-artwork-info-value {
        grid-column: span 3; /* Полная ширина */
    }

    .id-artwork-spacer-150{
        height: 12px;
        min-height: 12px;
        max-height: 12px;
    }
}