.td-artwork-info{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 12 равных колонок */
    gap: 0px 30px; /* Отступы между колонками (gutter) */
}

.td-artwork-info-name{
    grid-column: span 2;
}

.td-artwork-info-value{
    grid-column: span 4;
}

.td-artwork-info-value a{
    text-decoration: underline !important;
    display: inline-block;
}


.td-artwork-main-image{
    width: 100%;
    object-fit: contain; /* Подгоняет картинку без обрезки */
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.id-artwork-spacer-150{
    height: 150px;
    min-height: 150px;
    max-height: 150px;

    grid-column: span 6;
}

.id-artwork-spacer-25{
    height: 25px;
    min-height: 25px;
    max-height: 25px;

    grid-column: span 6;
}

.id-artwork-spacer-500{
    height: 25px;
    min-height: 25px;
    max-height: 25px;

    grid-column: span 6;
}

.id-artwork-spacer-40{
    height: 40px;
    min-height: 40px;
    max-height: 40px;

    grid-column: span 6;
}

.td-gallery-wrapper{
    width: 100%;
    display: flex;
    justify-content: center; 
    overflow: hidden;
}

.td-image-gallery {
    display: flex;
    flex-wrap: wrap; /* Перенос строк */
    gap: 26px; /* Отступы между изображениями */
    max-width: 502px; /* 3 колонки по 150px + 2 отступа (26px) */

    justify-self: center !important;
    justify-content: center !important; /* Центрирование строк */
}

.td-image-preview {
    width: 150px;
    height: 150px;
}

.td-image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 768px) {
    .td-artwork-info{
        grid-template-columns: repeat(1, 1fr);
    }

    .td-artwork-info-name,
    .td-artwork-info-value {
        grid-column: span 1; /* Полная ширина */
    }

    .id-artwork-spacer-150{
        height: 12px;
        min-height: 12px;
        max-height: 12px;
    }
}