#header, .module caption, .breadcrumbs {
    background-color: #1E8DD3 !important;
}

.breadcrumbs {
    background: #1E8DD3 !important;
}

#changelist-filter h2 {
    background: #1E8DD3 !important;
}

.theme-icon-when-light{
    color: #1e8dd3 !important
}