/* Меняем цвет шапки */
#header {
    background-color: #e24a4a !important;
}

/* Изменяем шрифты и размеры */
body {
    font-family: "Arial", sans-serif !important;
    font-size: 140px !important;
}

/* Кнопки */
input[type="submit"], .button {
    background-color: #4CAF50 !important;
    color: white !important;
    border-radius: 5px;
}
