{% extends "base.html" %}

{% block title %} data.name {% endblock %}

{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

    <spacer class="kc-align-full kc-spacer-main"></spacer>

    <block class="kc-align-half kc-text-wrapper">
        <div class="kc-text-xlarge kc-text-normal">
            КУЛЬТУРА — ПРАВО КАЖДОГО. МЫ ИМЕЕМ В ВИДУ НЕ ТОЛЬКО ДОСТУПНОСТЬ КУЛЬТУРЫ ДЛЯ ШИРОКОГО КРУГА ЗРИТЕЛЕЙ, НО И ВОЗМОЖНОСТЬ КАЖДОГО УЧАСТВОВАТЬ В ЕЕ ФОРМИРОВАНИИ.<br><br>
            УЧАСТИЕ — НЕ ПРОСТО ВЫБОР ГОТОВЫХ ВАРИАНТОВ, КОТОРЫЕ ПРЕДЛАГАЮТ КУЛЬТУРНЫЕ ИНСТИТУЦИИ, НО И СОЗДАНИЕ СВОИХ.<br><br>
            КОЛЛЕКЦИЯ И СВЯЗАННАЯ С НЕЙ ВЫСТАВОЧНАЯ ДЕЯТЕЛЬНОСТЬ — НЕ ТОЛЬКО ПРОСВЕТИТЕЛЬСКИЙ ПРОЕКТ, НО СПОСОБ ПОДДЕРЖКИ РАЗНООБРАЗНЫХ ИНИЦИАТИВ, ПОМОГАЮЩИХ ОБРЕСТИ ГОЛОС ХУДОЖНИКАМ, ЗРИТЕЛЯМ И ВСЕМ ИНТЕРЕСУЮЩИМСЯ ИСКУССТВОМ. В ОСНОВЕ КОЛЛЕКЦИИ ЛЕЖАТ ДРУЖЕСКИЕ ОТНОШЕНИЯ С ХУДОЖНИКАМИ И ПРОФЕССИОНАЛАМИ В ОБЛАСТИ ИСКУССТВА. ДРУЗЬЯ — ТЕ, КОМУ ТЫ ПОЗВОЛЯЕШЬ ВЛИЯТЬ НА СЕБЯ.
        </div>
    </block>

    <block class="kc-align-half kc-text-wrapper">
        <div class="kc-text-xlarge kc-text-normal">
            ДРУЖЕСКИЙ ДИАЛОГ ВОЗМОЖЕН ТОЛЬКО ВНЕ ТОТАЛЬНОЙ ИДЕОЛОГИИ, САМОЕ УГРОЖАЮЩЕЕ СВИДЕТЕЛЬСТВО КОТОРОЙ — ПРИЗНАНИЕ ЕДИНСТВЕННО ВОЗМОЖНОЙ ХУДОЖЕСТВЕННОЙ ДОКТРИНЫ И БЕЗАЛЬТЕРНАТИВНОЕ ПОНИМАНИЕ СОВРЕМЕННОСТИ.<br><br>
            МЫ ОТКАЗЫВАЕМСЯ ОТ ЭТИХ КАТЕГОРИЙ В ПОЛЬЗУ МНОГООБРАЗИЯ. МЫ ВЕРИМ, ЧТО ИСКУССТВО — НЕОТЪЕМЛЕМАЯ ЧАСТЬ ЖИЗНЬ КАЖДОГО СОВРЕМЕННОГО ЧЕЛОВЕКА. ДЛЯ ЭТОГО МЫ ДВИЖЕМСЯ ОТ ЦЕНТРОВ КУЛЬТУРЫ В СТОЛИЦЕ КО МНОЖЕСТВУ ИНСТИТУЦИЙ И ХУДОЖЕСТВЕННЫХ СООБЩЕСТВ ПО ВСЕЙ СТРАНЕ.<br><br>
            НАШИ ПРИНЦИПЫ: ОТНОШЕНИЯ НА РАВНЫХ СО ВСЕМИ УЧАСТНИКАМИ ХУДОЖЕСТВЕННОГО ПРОЦЕССА, ДИАЛОГ, ВЫСТРАИВАНИЕ ДЕЯТЕЛЬНОСТИ В СООТВЕТСТВИИ С ПРЕДСТАВЛЕНИЯМИ ОБ ИСТОРИИ ИСКУССТВА КАК О ЖИВОМ И МНОГООБРАЗНОМ ПРОЦЕССЕ.
        </div>
    </block>

    <spacer class="kc-align-full kc-spacer-main"></spacer>
    <div class="kc-separator"></div>
    <spacer class="kc-align-full kc-spacer-main"></spacer>


<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}