{% extends "base.html" %}

{% block title %} data.name {% endblock %}

{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

    <spacer class="kc-align-full kc-spacer-main"></spacer>
    <h1 class="kc-align-full kc-align-center kc-text-center kc-text-primary">{{ data.name }}</h1>
    <p class="kc-align-half kc-text-center kc-text-muted">Это пример страницы, которая использует базовый шаблон и стили. Стили искать по поиску ("kc-......."). Пример офрмления см в этом html </p>

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}