{% extends "base.html" %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}

<!-- 🛇 ↑↑↑ выше ничего не трогать -->

    <spacer class="kc-align-full kc-spacer-main"></spacer>
    <block class="kc-align-half">
        <div class="kc-photo-wrapper">
            <!-- <img class="fit-picture" src="{{ data.photo.url }}" alt="Artist photo"> -->
        </div>
    </block>
    <block class="kc-align-half">
        <div class="kc-text-wrapper kc-text-regular kc-text-large kc-text-uppercase">{{ data.title }}</div>
        <p class="kc-text-normal kc-text-regular">  {{ data.description }}  </p>
    </block>
    <spacer class="kc-align-full kc-spacer-main"></spacer>

<!-- 🛇 ↓↓↓ выше ничего не трогать -->

{% endblock %}