.kc-spacer-main{
    height: 150px;
}

.kc-spacer-regular{
    height: 100px;
}

.kc-spacer-cut{
    height: 255px;
    min-height: 255px;
    background-color: #1E8DD3;
}

.kc-spacer-medium{
    height: 78px;
}

.kc-spacer-small{
    height: 60px;
    min-height: 60px;
}

.kc-spacer-tiny{
    height: 30px;
    min-height: 30px;
    max-height: 30px;
}

.kc-spacing-padding-main{
    padding: 0% 60px;
}

@media (max-width: 768px) {
    .kc-spacing-padding-main {
        padding: 0% 10px;
    }
}